/*!
Theme Name: LYDIA
Theme URI: http:/bmas.agency
Author: BMAS
Author URI: http://bmas.agency
Description: A theme framework developed by BMAS as a foundation for web design and development. Contains universal web elements and funtionality. Frontend design aspects are kept to a minimum to allow for a clean base for client designs.
Version: 1
Text Domain: lydia
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Copyright 2015 BMAS agency, ltd.

@package Lydia
@since Lydia 1.0
*//*!
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video,button{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}object{outline:none;display:block;overflow:hidden}textarea{overflow:auto}iframe{border:0}sup,sub{line-height:0;font-size:75%;position:relative;vertical-align:baseline}sup{top:-0.5em}sub{bottom:-0.25em}button{outline:none}*,*:before,*:after{box-sizing:border-box}html{width:100%;height:100%;height:100vh;font-family:Helvetica,Arial,sans-serif;font-size:75%;-webkit-tap-highlight-color:transparent;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;text-size-adjust:100%}body{width:100%;min-height:100%;min-height:100vh;position:relative;background-color:#fff;color:#080808;font-size:12px;font-size:1rem;line-height:14.4px;line-height:1.2;font-family:"museo-slab",serif;font-weight:400;font-style:normal;text-rendering:optimizeLegibility;-webkit-font-smoothing:subpixel-antialiased;-moz-font-smoothing:subpixel-antialiased;font-smoothing:subpixel-antialiased;cursor:auto}::-webkit-scrollbar{width:8px;width:.6666666667rem;height:8px;height:.6666666667rem}::-webkit-scrollbar-track{background:rgba(0,0,0,0.1)}::-webkit-scrollbar-thumb{background:rgba(0,0,0,0.5)}::-moz-selection{background:#080808;color:#fff}::selection{background:#080808;color:#fff}h1,.h1,h2,.h2,h3,.h3,h4,.h4,h5,.h5,h6,.h6{color:#080808;display:block;padding-top:4px;padding-top:.3333333333rem;-webkit-font-feature-settings:'dlig' 1, 'liga' 1, 'lnum' 1, 'kern' 1;font-feature-settings:'dlig' 1, 'liga' 1, 'lnum' 1, 'kern' 1}h1 span.sub-header,.h1 span.sub-header,h2 span.sub-header,.h2 span.sub-header,h3 span.sub-header,.h3 span.sub-header{display:block;color:#484848;font-size:70%;font-weight:400;line-height:1}h1,.h1{font-family:"rift",sans-serif;font-weight:900;font-size:21px;font-size:1.75rem}@media (min-width: 30em){h1,.h1{font-size:24px;font-size:2rem}}h2,.h2{font-family:"rift",sans-serif;font-weight:800;font-size:18px;font-size:1.5rem}@media (min-width: 30em){h2,.h2{font-size:21px;font-size:1.75rem}}h3,.h3{font-family:"rift",sans-serif;font-weight:600;font-size:16px;font-size:1.3333333333rem}@media (min-width: 30em){h3,.h3{font-size:18px;font-size:1.5rem}}h4,.h4{font-family:"rift",sans-serif;font-weight:600;font-size:14px;font-size:1.1666666667rem}@media (min-width: 30em){h4,.h4{font-size:16px;font-size:1.3333333333rem}}h5,.h5{font-family:"rift",sans-serif;font-weight:600;font-size:12px;font-size:1rem}@media (min-width: 30em){h5,.h5{font-size:14px;font-size:1.1666666667rem}}h6,.h6{font-family:"rift",sans-serif;font-weight:600;font-size:10px;font-size:.8333333333rem}@media (min-width: 30em){h6,.h6{font-size:12px;font-size:1rem}}p{font-family:"museo-slab",serif;font-weight:500;font-size:15px;font-size:1.25rem;margin-bottom:20px;margin-bottom:1.6666666667rem;padding-top:4px;padding-top:.3333333333rem;-webkit-font-feature-settings:'kern' 1, 'liga' 1;font-feature-settings:'kern' 1, 'liga' 1}p.justify{text-align:justify}p:only-child,p:last-child{margin:0;padding:0}small,.caption{font-size:80%}em,i,.italic{font-style:italic}strong,b,.bold{font-weight:600}a{color:#37a6b1;text-decoration:none;-webkit-transition:color .1s, background-color .1s;transition:color .1s, background-color .1s}a:hover,a:focus,a:active{color:#000;outline:none}a img{border:none}a.underline,.underline p a,.underline li a{background-image:-webkit-linear-gradient(top, transparent 50%, #79cdd5 50%);background-image:linear-gradient(to bottom, transparent 50%, #79cdd5 50%);background-position:0 93%;background-repeat:repeat-x;background-size:100% 0.15rem;text-shadow:0.1rem 0 #fff,0.15rem 0 #fff,-.1rem 0 #fff,-.15rem 0 #fff}a.underline:hover,a.underline:focus,.underline p a:hover,.underline p a:focus,.underline li a:hover,.underline li a:focus{background-image:-webkit-linear-gradient(top, transparent 50%, #333 50%);background-image:linear-gradient(to bottom, transparent 50%, #333 50%)}ins{text-decoration:underline}del,.del,s,strike{text-decoration:line-through}hr{border:0;margin:0;clear:both;padding:12px 0;padding:1rem 0;background-position:0 50%;background-repeat:repeat-x;background-size:100% 0.15rem;background-image:-webkit-linear-gradient(right, #fff, #c1c1c1, #fff);background-image:linear-gradient(to left, #fff, #c1c1c1, #fff)}hr.solid{background-image:-webkit-linear-gradient(right, #c1c1c1, #c1c1c1, #c1c1c1);background-image:linear-gradient(to left, #c1c1c1, #c1c1c1, #c1c1c1)}code,pre{font-family:Consolas,"Andale Mono WT","Andale Mono","Lucida Console","Lucida Sans Typewriter","DejaVu Sans Mono","Bitstream Vera Sans Mono","Liberation Mono","Nimbus Mono L",Monaco,"Courier New",Courier,monospace;color:#333;background-color:#e6e6e6;border-width:1px;border-width:.0833333333rem;border-style:solid;border-color:#c1c1c1;padding:3px 7px;padding:.25rem .5833333333rem}pre{display:block;margin:0 0 10px;margin:0 0 .8333333333rem;word-break:break-all;word-wrap:break-word}pre code{padding:0;white-space:pre-wrap}.pre-scrollable{max-height:350px;max-height:29.1666666667rem;overflow-y:scroll}kbd,.keystroke{color:#080808;font-family:Consolas,"Andale Mono WT","Andale Mono","Lucida Console","Lucida Sans Typewriter","DejaVu Sans Mono","Bitstream Vera Sans Mono","Liberation Mono","Nimbus Mono L",Monaco,"Courier New",Courier,monospace;font-size:inherit;padding:2px 3px;padding:.1666666667rem .25rem;margin:0;background-color:#ededed;border-color:#dddddd;border-radius:3px;background-clip:padding-box;box-shadow:0 -1px 0 #e6e6e6;box-shadow:0 -.0833333333rem 0 #e6e6e6}kbd kbd,.keystroke kbd,kbd .keystroke,.keystroke .keystroke{font-weight:600;padding:0;box-shadow:none}blockquote{margin:12px;margin:1rem;padding:6px 8px;padding:.5rem .6666666667rem;border-left-width:2px;border-left-width:.1666666667rem;border-left-style:solid;border-left-color:#c1c1c1}blockquote.blockquote-reverse{border-left:none;border-right-width:2px;border-right-width:.1666666667rem;border-right-style:solid;border-right-color:#c1c1c1;text-align:right}blockquote.blockquote-reverse cite:before{content:""}blockquote.blockquote-reverse cite:after{content:"\0020 \2014"}blockquote cite{display:block;font-size:10px;font-size:.8333333333rem;color:#2e2e2e;font-style:normal}blockquote cite:before{content:"\2014 \0020"}blockquote cite a,blockquote cite a:visited{color:#37a6b1}blockquote p{font-size:14px;font-size:1.1666666667rem;color:#37a6b1;font-style:italic}blockquote p:last-child,blockquote p:last-of-type,blockquote ul:last-child,blockquote ul:last-of-type,blockquote ol:last-child,blockquote ol:last-of-type{margin-bottom:0}cite{font-size:10px;font-size:.8333333333rem;color:#2e2e2e}abbr,acronym{text-transform:uppercase;font-size:90%;color:#222222;cursor:help}abbr,.abbr{text-transform:none}abbr [title],abbr [data-original-title],.abbr [title],.abbr [data-original-title]{border-bottom:1px dotted #dddddd}mark,.mark{color:#080808;background-color:#e6e6e6}.hollow{color:#080808;-webkit-text-fill-color:#080808;-webkit-text-stroke-width:1px;-webkit-text-stroke-width:.0833333333rem;-webkit-text-stroke-color:#fff}.capitals,.cfs-btn-donate,.header-menu ul li,.bedrock,section#intro .sticker span,.headline-card .card-info .cta{text-transform:uppercase;letter-spacing:1.2px;letter-spacing:.1rem}.small-caps{text-transform:uppercase;font-size:95%;letter-spacing:1.2px;letter-spacing:.1rem;-webkit-font-feature-settings:'smcp' 1, 'kern' 1;font-feature-settings:'smcp' 1, 'kern' 1}.xxlarge{font-size:42px;font-size:3.5rem}.text-nowrap{white-space:nowrap}.text-lowercase{text-transform:lowercase}.text-uppercase{text-transform:uppercase}.text-capitalize{text-transform:capitalize}.text-normal{text-transform:none}.text-top{vertical-align:top}.text-middle{vertical-align:middle}.text-bottom{vertical-align:bottom}.text-left{text-align:left}.text-right,.header-menu{text-align:right}.text-center{text-align:center}.text-justify{text-align:justify}.text-hcenter{margin-left:auto !important;margin-right:auto !important}ul,ol,dl{font-size:12px;font-size:1rem;margin-bottom:14px;margin-bottom:1.1666666667rem;list-style-position:outside;font-family:inherit}ul li,ol li,dl li{-webkit-font-feature-settings:'kern' 1, 'liga' 1;font-feature-settings:'kern' 1, 'liga' 1}ul.icons,ol.icons,dl.icons{margin-left:0}ul.icons>li,ol.icons>li,dl.icons>li{list-style:none}ul.icons>li>span,ol.icons>li>span,dl.icons>li>span{margin-right:5px;margin-right:.4166666667rem}ul{margin-left:18px;margin-left:1.5rem;list-style-type:disc}ul.square{list-style-type:square}ul.circle{list-style-type:circle}ul.disc{list-style-type:disc}ul.square li ul,ul.circle li ul,ul.disc li ul{list-style:inherit}ul.no-bullet,.header-menu ul{list-style:none;margin-left:0}ul.no-bullet li ul,.header-menu ul li ul,ul.no-bullet li ol,.header-menu ul li ol{margin-bottom:0;list-style:none}ul li ul,ul li ol{margin-left:18px;margin-left:1.5rem;margin-bottom:0}ul li ul{list-style:square}ul li ol{list-style:decimal}ul li ul li ul{list-style:circle}ul.inline-list,.header-menu ul{list-style:none;margin-top:0;margin:0 0 11px -16px;margin:0 0 .9166666667rem -1.3333333333rem;overflow:hidden;padding:0}ul.inline-list>li,.header-menu ul>li{display:inline-block;list-style:none;margin-left:16px;margin-left:1.3333333333rem}ol{margin-left:18px;margin-left:1.5rem;list-style-type:decimal}ol li ul,ol li ol{margin-left:18px;margin-left:1.5rem;margin-bottom:0}ol li ol{list-style:lower-latin}ol li ul{list-style:disc}ol li ol li ol{list-style:lower-roman}dl dt{margin-bottom:4px;margin-bottom:.3333333333rem;font-weight:bold}dl dd{margin-bottom:10px;margin-bottom:.8333333333rem}img,figure,svg{max-width:100%;height:auto;position:relative;display:inline-block;background-color:transparent;-ms-interpolation-mode:bicubic}img.fluid,figure.fluid,svg.fluid{width:100%;display:block;margin-left:auto;margin-right:auto}img.rounded,figure.rounded,svg.rounded{border-radius:2px;border-radius:.1666666667rem;background-clip:padding-box}img.circle,figure.circle,svg.circle{border-radius:50%}figcaption{font-family:Georgia,"Times New Roman",Times,serif}.visually-hidden{position:absolute;height:1px;width:1px;border:0;clip:rect(0 0 0 0);margin:-1px;padding:0;overflow:hidden}.fluid-video{position:relative;height:0;overflow:hidden;padding-top:25px;padding-top:2.0833333333rem;padding-bottom:67.5%}.fluid-video.widescreen{padding-bottom:56.25%}.fluid-video.vimeo{padding-top:0}.fluid-video iframe,.fluid-video object,.fluid-video embed,.fluid-video video{position:absolute;top:0;left:0;width:100%;height:100%;border:0}fieldset,form{display:block;width:100%}fieldset .form-group,form .form-group{display:block;margin-bottom:22px;margin-bottom:1.8333333333rem}fieldset{padding:10px 20px;padding:.8333333333rem 1.6666666667rem;margin-bottom:20px;margin-bottom:1.6666666667rem;border-width:1px;border-width:.0833333333rem;border-style:solid;border-color:#c1c1c1}fieldset:only-child{margin-bottom:0}fieldset[disabled],fieldset[disabled] *{cursor:not-allowed;opacity:0.6;background-color:#F9F9F9}fieldset legend,fieldset[disabled] legend{background-color:transparent}input,select,textarea{display:block;font-family:inherit;position:relative;max-width:100%;padding:10px;padding:.8333333333rem;margin-bottom:24px;margin-bottom:2rem;border:none;border-radius:0;outline:none;vertical-align:top;color:#080808;background-color:#fff}input[disabled],input[readonly],select[disabled],select[readonly],textarea[disabled],textarea[readonly]{cursor:not-allowed;background-color:#F9F9F9}input[readonly],select[readonly],textarea[readonly]{cursor:auto}.input-border input,.input-border select,.input-border textarea{border-width:1px;border-width:.0833333333rem;border-style:solid;border-color:#c1c1c1}.input-border input:focus,.input-border select:focus,.input-border textarea:focus{border-color:#282828}.rounded input,.rounded select,.rounded textarea{border-radius:2px;border-radius:.1666666667rem}input.fluid,.fluid input,select.fluid,.fluid select,textarea.fluid,.fluid textarea{width:100%}.input-raised input,.input-raised select,.input-raised textarea{box-shadow:1px 1px 2px rgba(0,0,0,0.1)}input::-webkit-input-placeholder,select::-webkit-input-placeholder,textarea::-webkit-input-placeholder{color:#888}input:-moz-placeholder,select:-moz-placeholder,textarea:-moz-placeholder{color:#888}input::-moz-placeholder,select::-moz-placeholder,textarea::-moz-placeholder{color:#888}input:-ms-input-placeholder,select:-ms-input-placeholder,textarea:-ms-input-placeholder{color:#888}input:focus::-webkit-input-placeholder,select:focus::-webkit-input-placeholder,textarea:focus::-webkit-input-placeholder{color:#080808}input:focus:-moz-placeholder,select:focus:-moz-placeholder,textarea:focus:-moz-placeholder{color:#080808}input:focus::-moz-placeholder,select:focus::-moz-placeholder,textarea:focus::-moz-placeholder{color:#080808}input:focus:-ms-input-placeholder,select:focus:-ms-input-placeholder,textarea:focus:-ms-input-placeholder{color:#080808}.input-raised input[type="range"]{box-shadow:none}body input:-webkit-autofill,body input:-webkit-autofill:focus{-webkit-box-shadow:0 0 0 50px #fff inset;-webkit-text-fill-color:#080808}textarea{height:auto;max-width:100%;resize:vertical;min-height:100px;min-height:8.3333333333rem}.input-border input[type="color"],.input-raised input[type="color"]{min-height:40px;min-height:3.3333333333rem;padding:0;border:0}::-webkit-file-upload-button{background-color:#37a6b1;color:#080808;padding:10px;padding:.8333333333rem;border:none;outline:none}input[type="file"]{padding:0}input[type="range"]{padding:0;margin-left:0;margin-right:0}input[type="submit"].fluid,input[type="button"].fluid{display:block;width:100%}select{-webkit-appearance:none;-moz-appearance:none;background:url("img/util/select-icon-border.png") no-repeat scroll right center;padding-right:21px;padding-right:1.75rem}select[multiple],select[size]{background:none;padding:0;height:auto}select[multiple] option,select[size] option{padding:5px 10px;padding:.4166666667rem .8333333333rem}select::-ms-expand{display:none}input[type="checkbox"],input[type="radio"]{display:inline;width:auto;width:initial;margin-bottom:0;vertical-align:sub}input[type="checkbox"]+label,input[type="radio"]+label{display:inline;margin:0 5px 0 2px;margin:0 .4166666667rem 0 .1666666667rem}.vertical-list div,.vertical-list span{width:100%;display:block}label{display:block;margin-bottom:0}label.right{float:none !important;text-align:right}table{width:100%;max-width:100%;background:#fff;margin-bottom:22px;margin-bottom:1.8333333333rem;border-width:1px;border-width:.0833333333rem;border-style:solid;border-color:#c1c1c1;border-spacing:0;border-collapse:collapse;table-layout:auto}table caption{background:transparent;font-size:12px;font-size:1rem;font-weight:600}table thead{background:#f5f5f5}table tbody tr th{font-weight:600}table thead tr th,table thead tr td,table tfoot tr th,table tfoot tr td{padding:5px 6px 6px;padding:.4166666667rem .5rem .5rem;font-size:10px;font-size:.8333333333rem;font-weight:600}table tfoot{background:#f5f5f5}table tr th,table tr td{padding:5px 6px;padding:.4166666667rem .5rem;font-size:10px;font-size:.8333333333rem;text-align:left;white-space:pre}table tr.even,table tr.alt,table.striped tr:nth-of-type(even){background:#f9f9f9}table thead tr th,table tfoot tr th,table tfoot tr td,table tbody tr th,table tbody tr td,table tr td{display:table-cell}.table-responsive{min-height:.01%;overflow-x:auto}@media (max-width: 47.9375em){.table-responsive{width:100%;margin-bottom:22px;margin-bottom:1.8333333333rem;overflow-y:hidden;-ms-overflow-style:-ms-autohiding-scrollbar;border-width:1px;border-width:.0833333333rem;border-style:solid;border-color:#c1c1c1}.table-responsive table{border:none}.table-responsive>table{margin-bottom:0}.table-responsive>table>tbody>tr>td,.table-responsive>table>tbody>tr>th,.table-responsive>table>thead>tr>td,.table-responsive>table>thead>tr>th,.table-responsive>table>tfoot>tr>td,.table-responsive>table>tfoot>tr>th{white-space:nowrap}}.cf:after{content:"";display:table;clear:both}.container{max-width:100%;margin-left:auto;margin-right:auto}.container:after{content:"";display:table;clear:both}.container .text{max-width:700px;max-width:58.3333333333rem}.segment{position:relative;background:#fff;margin:12px 0;margin:1rem 0;padding:12px;padding:1rem}.segment.border{border-width:1px;border-width:.0833333333rem;border-style:solid;border-color:#c1c1c1}.segment.raised{box-shadow:1px 1px 2px rgba(0,0,0,0.1)}.segment.rounded{border-radius:2px;border-radius:.1666666667rem;background-clip:padding-box}[class*='grid-']{position:relative;min-height:1px;margin:0}@media (max-width: 47.9375em){[class*='grid-']:not([class*='-ng']){margin-bottom:1.6949152542%}}@media (max-width: 47.9375em){.collapse>[class*='grid-']{width:100%}}.grid-1{width:6.7796610169%;float:left;margin-right:1.6949152542%}.grid-1:last-of-type{float:right;margin-right:0}.grid-1-ng{width:8.3333333333%;float:left}.grid-2{width:15.2542372881%;float:left;margin-right:1.6949152542%}.grid-2:last-of-type{float:right;margin-right:0}.grid-2-ng{width:16.6666666667%;float:left}.grid-3{width:23.7288135593%;float:left;margin-right:1.6949152542%}.grid-3:last-of-type{float:right;margin-right:0}.grid-3-ng{width:25%;float:left}.grid-4{width:32.2033898305%;float:left;margin-right:1.6949152542%}.grid-4:last-of-type{float:right;margin-right:0}.grid-4-ng{width:33.3333333333%;float:left}.grid-5{width:40.6779661017%;float:left;margin-right:1.6949152542%}.grid-5:last-of-type{float:right;margin-right:0}.grid-5-ng{width:41.6666666667%;float:left}.grid-6{width:49.1525423729%;float:left;margin-right:1.6949152542%}.grid-6:last-of-type{float:right;margin-right:0}.grid-6-ng{width:50%;float:left}.grid-7{width:57.6271186441%;float:left;margin-right:1.6949152542%}.grid-7:last-of-type{float:right;margin-right:0}.grid-7-ng{width:58.3333333333%;float:left}.grid-8{width:66.1016949153%;float:left;margin-right:1.6949152542%}.grid-8:last-of-type{float:right;margin-right:0}.grid-8-ng{width:66.6666666667%;float:left}.grid-9{width:74.5762711864%;float:left;margin-right:1.6949152542%}.grid-9:last-of-type{float:right;margin-right:0}.grid-9-ng{width:75%;float:left}.grid-10{width:83.0508474576%;float:left;margin-right:1.6949152542%}.grid-10:last-of-type{float:right;margin-right:0}.grid-10-ng{width:83.3333333333%;float:left}.grid-11{width:91.5254237288%;float:left;margin-right:1.6949152542%}.grid-11:last-of-type{float:right;margin-right:0}.grid-11-ng{width:91.6666666667%;float:left}.grid-12{width:100%;float:left;margin-left:0;margin-right:0}.grid-12:last-of-type{float:right;margin-right:0}.grid-12-ng{width:100%;float:left;margin-left:0;margin-right:0}.container-flex,.masthead{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-orient:horizontal;-webkit-box-direction:normal;-webkit-flex-direction:row;-ms-flex-direction:row;flex-direction:row;-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap;margin-left:0rem;margin-right:0rem}.grid-flex,.grid-flex-1,.grid-flex-2,.grid-flex-3,.grid-flex-4,.grid-flex-5,.grid-flex-6,.grid-flex-7,.grid-flex-8,.grid-flex-9,.grid-flex-10,.grid-flex-11,.grid-flex-12{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;-webkit-box-flex:0;-webkit-flex-grow:0;-ms-flex-positive:0;flex-grow:0;-webkit-flex-shrink:0;-ms-flex-negative:0;flex-shrink:0;padding-left:0rem;padding-right:0rem}.grid-flex{-webkit-box-flex:1;-webkit-flex-grow:1;-ms-flex-positive:1;flex-grow:1;-webkit-flex-basis:0;-ms-flex-preferred-size:0;flex-basis:0;max-width:100%}.grid-flex-1{-webkit-flex-basis:8.3333333333%;-ms-flex-preferred-size:8.3333333333%;flex-basis:8.3333333333%;max-width:8.3333333333%}.grid-flex-2{-webkit-flex-basis:16.6666666667%;-ms-flex-preferred-size:16.6666666667%;flex-basis:16.6666666667%;max-width:16.6666666667%}.grid-flex-3{-webkit-flex-basis:25%;-ms-flex-preferred-size:25%;flex-basis:25%;max-width:25%}.grid-flex-4{-webkit-flex-basis:33.3333333333%;-ms-flex-preferred-size:33.3333333333%;flex-basis:33.3333333333%;max-width:33.3333333333%}.grid-flex-5{-webkit-flex-basis:41.6666666667%;-ms-flex-preferred-size:41.6666666667%;flex-basis:41.6666666667%;max-width:41.6666666667%}.grid-flex-6{-webkit-flex-basis:50%;-ms-flex-preferred-size:50%;flex-basis:50%;max-width:50%}.grid-flex-7{-webkit-flex-basis:58.3333333333%;-ms-flex-preferred-size:58.3333333333%;flex-basis:58.3333333333%;max-width:58.3333333333%}.grid-flex-8{-webkit-flex-basis:66.6666666667%;-ms-flex-preferred-size:66.6666666667%;flex-basis:66.6666666667%;max-width:66.6666666667%}.grid-flex-9{-webkit-flex-basis:75%;-ms-flex-preferred-size:75%;flex-basis:75%;max-width:75%}.grid-flex-10{-webkit-flex-basis:83.3333333333%;-ms-flex-preferred-size:83.3333333333%;flex-basis:83.3333333333%;max-width:83.3333333333%}.grid-flex-11{-webkit-flex-basis:91.6666666667%;-ms-flex-preferred-size:91.6666666667%;flex-basis:91.6666666667%;max-width:91.6666666667%}.grid-flex-12{-webkit-flex-basis:100%;-ms-flex-preferred-size:100%;flex-basis:100%;max-width:100%}.off-flex-1{margin-left:8.3333333333%}.off-flex-2{margin-left:16.6666666667%}.off-flex-3{margin-left:25%}.off-flex-4{margin-left:33.3333333333%}.off-flex-5{margin-left:41.6666666667%}.off-flex-6{margin-left:50%}.off-flex-7{margin-left:58.3333333333%}.off-flex-8{margin-left:66.6666666667%}.off-flex-9{margin-left:75%}.off-flex-10{margin-left:83.3333333333%}.off-flex-11{margin-left:91.6666666667%}.centred-axis,.centred-axis-x,.centred-axis-y,.centred-axis-xy{position:absolute}.centred-axis-x{left:50%;-webkit-transform:translate(-50%, 0);transform:translate(-50%, 0)}.centred-axis-y{top:50%;-webkit-transform:translateY(-50%);transform:translateY(-50%)}.centred-axis-xy{top:50%;left:50%;-webkit-transform:translate(-50%, -50%);transform:translate(-50%, -50%)}.flex-center{-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;-ms-grid-row-align:center;align-items:center;-webkit-box-orient:horizontal;-webkit-box-direction:normal;-webkit-flex-direction:row;-ms-flex-direction:row;flex-direction:row;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center}.centred{display:block;margin:auto}.float-l{float:left}.float-r{float:right}.float-n{float:none}.float-fluid{display:table-cell;width:auto}.clear-r{clear:right}.clear-l{clear:left}.clear-b{clear:both}.cont,.cont-rel,.cont-abs,.cont-fix{display:block}.cont-rel{position:relative}.cont-abs{position:absolute}.cont-fix{position:fixed}.v-spacing{margin-bottom:22px;margin-bottom:1.8333333333rem}.w-100{width:100%}.w-75{width:75%}.w-50{width:50%}.w-25{width:25%}.h-100{height:100%}.h-75{height:75%}.h-50{height:50%}.h-25{height:25%}.rotate{display:inline-block;width:auto}.rotate-90{filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=1);-webkit-transform:rotate(90deg);transform:rotate(90deg)}.rotate-180{filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=2);-webkit-transform:rotate(180deg);transform:rotate(180deg)}.rotate-270{filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=3);-webkit-transform:rotate(270deg);transform:rotate(270deg)}.flip-horizontal{filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=0);-webkit-transform:scale(-1, 1);transform:scale(-1, 1)}.flip-vertical{filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=2);-webkit-transform:scale(1, -1);transform:scale(1, -1)}:root .rotate-90,:root .rotate-180,:root .rotate-270,:root .flip-horizontal,:root .flip-vertical{-webkit-filter:none;filter:none}.btn{width:auto;display:inline-block;min-height:12px;min-height:1rem;padding:10px;padding:.8333333333rem;margin-bottom:4px;margin-bottom:.3333333333rem;color:#080808;background-color:#37a6b1;box-shadow:0 0 0 1px transparent inset,0 0 0 0 rgba(68,68,68,0.15) inset;text-align:center;line-height:1;cursor:pointer;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-appearance:none;-webkit-transition:color .1s ease, background-color .1s ease, box-shadow .1s ease, background .1s ease;transition:color .1s ease, background-color .1s ease, box-shadow .1s ease, background .1s ease}.btn:hover,.btn:focus{color:#fff;background-color:#194b50}.btn:active,.btn.active{background-color:#000;box-shadow:0 0 0 1px transparent inset,0 0 0 1px rgba(68,68,68,0.5) inset}.btn.fluid{display:block;width:100%}.btn.disabled{cursor:not-allowed;pointer-events:none;opacity:0.45}.btn.circular{line-height:1;border-radius:50%}.btn.circular>span{width:1em;opacity:0.9}.btn.rounded{border-radius:2px;border-radius:.1666666667rem}.btn.icon>.fa{margin-right:5px;margin-right:.4166666667rem}.btn.icon>.fa.pull-right{margin-right:0}.btn.outline{background:none;border-width:1px;border-width:.0833333333rem;border-style:solid;border-color:#080808}.btn.outline:hover,.btn.outline:focus{background-color:#194b50;border-color:#194b50;color:#fff}.btn.outline:active{box-shadow:none;background-color:#000;border-color:#000}.btn.social{color:#fff}.btn.social.facebook{background-color:#3b5998}.btn.social.facebook:hover,.btn.social.facebook:focus{background-color:#4c70ba}.btn.social.facebook:active{background-color:#4264aa}.btn.social.twitter{background-color:#00aced}.btn.social.twitter:hover,.btn.social.twitter:focus{background-color:#21c2ff}.btn.social.twitter:active{background-color:#08bbff}.btn.social.instagram{background-color:#125688}.btn.social.instagram:hover,.btn.social.instagram:focus{background-color:#1872b5}.btn.social.instagram:active{background-color:#15649f}.btn.social.google-plus{background-color:#dd4b39}.btn.social.google-plus:hover,.btn.social.google-plus:focus{background-color:#e47365}.btn.social.google-plus:active{background-color:#e15f4f}.btn.social.linkedin{background-color:#007bb5}.btn.social.linkedin:hover,.btn.social.linkedin:focus{background-color:#009ee8}.btn.social.linkedin:active{background-color:#008ccf}.btn.social.youtube{background-color:#b00}.btn.social.youtube:hover,.btn.social.youtube:focus{background-color:#e00}.btn.social.youtube:active{background-color:#d50000}.btn-group{display:inline-block;font-size:0}.btn-group>.btn{font-size:12px;font-size:1rem;margin-bottom:0}.btn-group.rounded>.btn:first-child{border-top-left-radius:2px;border-top-left-radius:.1666666667rem;border-bottom-left-radius:2px;border-bottom-left-radius:.1666666667rem}.btn-group.rounded>.btn:last-child{border-top-right-radius:2px;border-top-right-radius:.1666666667rem;border-bottom-right-radius:2px;border-bottom-right-radius:.1666666667rem}.btn-group.vertical>.btn{display:block;width:100%}.btn-group.vertical.rounded>.btn:first-child{border-top-left-radius:2px;border-top-left-radius:.1666666667rem;border-top-right-radius:2px;border-top-right-radius:.1666666667rem;border-bottom-left-radius:0}.btn-group.vertical.rounded>.btn:last-child{border-bottom-left-radius:2px;border-bottom-left-radius:.1666666667rem;border-bottom-right-radius:2px;border-bottom-right-radius:.1666666667rem;border-top-right-radius:0}.animate-fadein{-webkit-animation:fadein 1.5s;animation:fadein 1.5s}@-webkit-keyframes fadein{from{opacity:0}to{opacity:1}}@keyframes fadein{from{opacity:0}to{opacity:1}}.loader-bg{position:fixed;width:100%;height:100%;background-color:#fff;z-index:999}.loader{font-size:48px;font-size:4rem;position:absolute;top:50%;left:50%;-webkit-transform:translate(-50%, -50%);transform:translate(-50%, -50%)}.spinner{position:relative}.spinner:before,.spinner:after{content:"";position:relative;display:block}.spinner:before{-webkit-animation:spinner 2.5s cubic-bezier(0.75, 0, 0.5, 1) infinite normal;animation:spinner 2.5s cubic-bezier(0.75, 0, 0.5, 1) infinite normal;width:12px;width:1rem;height:12px;height:1rem;background-color:#202020}.spinner:after{-webkit-animation:shadow 2.5s cubic-bezier(0.75, 0, 0.5, 1) infinite normal;animation:shadow 2.5s cubic-bezier(0.75, 0, 0.5, 1) infinite normal;height:-6px;height:-.5rem;height:3px;height:.25rem;border-radius:50%;background-color:#e6e6e6}@-webkit-keyframes spinner{50%{border-radius:50%;-webkit-transform:scale(0.5) rotate(360deg);transform:scale(0.5) rotate(360deg)}100%{-webkit-transform:scale(1) rotate(720deg);transform:scale(1) rotate(720deg)}}@keyframes spinner{50%{border-radius:50%;-webkit-transform:scale(0.5) rotate(360deg);transform:scale(0.5) rotate(360deg)}100%{-webkit-transform:scale(1) rotate(720deg);transform:scale(1) rotate(720deg)}}@-webkit-keyframes shadow{50%{-webkit-transform:scale(0.5);transform:scale(0.5);background-color:#e6e6e6}}@keyframes shadow{50%{-webkit-transform:scale(0.5);transform:scale(0.5);background-color:#e6e6e6}}.modal{position:fixed;top:0;bottom:0;right:0;left:0;height:100%;width:100%;background-color:rgba(0,0,0,0.8);visibility:hidden;z-index:100}.modal-inner{max-width:900px;max-width:75rem;margin:0 auto;position:absolute;top:50%;right:0;left:0;-webkit-transform:translateY(-50%);transform:translateY(-50%);background-color:#cacaca}@media (max-width: 47.9375em){.modal-inner{width:95%}}.modal .fa-close{position:absolute;top:0;right:0;padding:2%;-webkit-transition:background-color 0.1s ease-in;transition:background-color 0.1s ease-in;cursor:pointer;z-index:200}.modal .fa-close:hover,.modal .fa-close:focus{background-color:rgba(55,166,177,0.4)}@media (max-width: 47.9375em){.modal .modal-img{display:none}}.modal .modal-img img{width:100%;display:block}.modal .modal-content{padding:5%}.modal .modal-content h4{font-size:28px;font-size:2.3333333333rem;margin-bottom:2%;color:#fff}.modal .modal-content label{display:none}.modal .modal-content input.block-r{margin-left:0;margin-right:0}@media (max-width: 47.9375em){.modal .modal-content input{width:100%}}.modal .modal-content input.outline{color:#fff;border-color:#fff}.modal .modal-content input.btn{margin-top:5px;margin-top:.4166666667rem;display:block;margin-right:0;margin-left:auto}body{letter-spacing:1px;letter-spacing:.0833333333rem}.cfs-hash{fill:#37a6b1}.cfs-wordmark{fill:#fff}.color-accent{color:#37a6b1}section.pattern{position:relative;background-color:#fff;background-size:40px 23.3px, 100%;background-repeat:repeat;background-position:1px -1px, 0}section.pattern .pattern-gradient{background:-webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.5) 50%, rgba(255,255,255,0) 100%);background:linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,0.5) 50%, rgba(255,255,255,0) 100%);height:100%;width:100%;position:absolute;top:0;right:0;left:0;bottom:0;opacity:0.7;z-index:1}.cfs-btn-donate{color:#fff;padding:36px 84px;padding:3rem 7rem;font-size:16px;font-size:1.3333333333rem;font-weight:700;-webkit-transition:0.3s ease-out;transition:0.3s ease-out;border-radius:2px;background-clip:padding-box}.cfs-btn-donate:hover,.cfs-btn-donate:focus{background-color:#31959f}.main-logo{padding:23px 0;padding:1.9166666667rem 0;padding-left:3%;padding-right:3%}@media (max-width: 68.6875em){.main-logo{-webkit-flex-basis:75%;-ms-flex-preferred-size:75%;flex-basis:75%;max-width:75%;z-index:10;margin-bottom:0 !important}}.main-logo img{max-width:210px;max-width:17.5rem;min-width:210px;min-width:17.5rem;vertical-align:text-top}.main-logo path{fill:#080808;-webkit-transition:fill 0.3s ease-out;transition:fill 0.3s ease-out}.main-logo:hover .cfs-hash,.main-logo:focus .cfs-hash{fill:#37a6b1}.masthead{background-color:#fff;position:fixed;top:0;width:100%;z-index:10}.admin-bar .masthead{top:32px}.header-menu ul{font-family:"rift",sans-serif;font-weight:700;margin-bottom:0}.header-menu ul li{margin-left:0;position:relative}.header-menu ul li:not(.donate)::after{content:'';position:absolute;right:0;left:0;bottom:-3px;bottom:-.25rem;margin:auto;width:65%;height:3px;height:.25rem;opacity:0;background-color:#37a6b1;border-top-right-radius:5px;border-top-right-radius:.4166666667rem;border-top-left-radius:5px;border-top-left-radius:.4166666667rem;z-index:2;-webkit-transition:0.3s ease-out;transition:0.3s ease-out}.header-menu ul li:hover::after,.header-menu ul li:focus::after,.header-menu ul li.current-menu-item::after{opacity:1}.header-menu ul li.donate{-webkit-transition:0.3s ease-out;transition:0.3s ease-out;background-color:#37a6b1}.header-menu ul li.donate:hover,.header-menu ul li.donate:focus{background-color:#31959f}.header-menu ul li.donate a{text-transform:uppercase;color:#fff;font-family:"museo-slab",serif;font-size:16px;font-size:1.3333333333rem;padding:23px 36px;padding:1.9166666667rem 3rem}.header-menu ul li a{color:#080808;font-size:18px;font-size:1.5rem;display:block;padding:20px 20px;padding:1.6666666667rem 1.6666666667rem}@media (max-width: 74.9375em){.header-menu ul li a{padding:20px 15px;padding:1.6666666667rem 1.25rem}}@media (max-width: 68.6875em){.header-menu{-webkit-flex-basis:100%;-ms-flex-preferred-size:100%;flex-basis:100%;max-width:100%;margin-bottom:0 !important;position:absolute;width:100%;top:63px;top:5.25rem;z-index:10;background-color:#fff;box-shadow:0 15px 15px -10px rgba(0,0,0,0.35);-webkit-transform:translateY(calc(-100% - 85px));transform:translateY(calc(-100% - 85px));-webkit-transition:-webkit-transform 0.3s ease-out;transition:-webkit-transform 0.3s ease-out;transition:transform 0.3s ease-out;transition:transform 0.3s ease-out, -webkit-transform 0.3s ease-out}.menu-active .header-menu{-webkit-transform:translateY(0);transform:translateY(0)}}@media (max-width: 68.6875em){.header-menu #menu-header li{display:block;text-align:center}}.hamburger{display:none;position:absolute;right:20px;right:1.6666666667rem;top:20px;top:1.6666666667rem;-webkit-transform:matrix(1, 0, 0, 1, 0, 0);transform:matrix(1, 0, 0, 1, 0, 0);z-index:10}@media (max-width: 68.6875em){.hamburger{display:block}}.hamburger path{-webkit-transition:opacity ease 0.15s, -webkit-transform ease-out 0.2s;transition:opacity ease 0.15s, -webkit-transform ease-out 0.2s;transition:transform ease-out 0.2s, opacity ease 0.15s;transition:transform ease-out 0.2s, opacity ease 0.15s, -webkit-transform ease-out 0.2s;fill:#37a6b1;stroke-linecap:round;stroke-linejoin:round}.hamburger #hamburger-top{-webkit-transform:matrix(1, 0, 0, 1, 0, 0);transform:matrix(1, 0, 0, 1, 0, 0)}.hamburger #hamburger-middle{opacity:1}.hamburger #hamburger-bottom{-webkit-transform:matrix(1, 0, 0, 1, 0, 0);transform:matrix(1, 0, 0, 1, 0, 0)}.hamburger:hover #hamburger-top,.hamburger:focus #hamburger-top{-webkit-transform:matrix(1, 0, 0, 1, 0, -4);transform:matrix(1, 0, 0, 1, 0, -4)}.hamburger:hover #hamburger-bottom,.hamburger:focus #hamburger-bottom{-webkit-transform:matrix(1, 0, 0, 1, 0, 4);transform:matrix(1, 0, 0, 1, 0, 4)}.menu-active .hamburger{-webkit-transition:-webkit-transform ease-out 0.2s;transition:-webkit-transform ease-out 0.2s;transition:transform ease-out 0.2s;transition:transform ease-out 0.2s, -webkit-transform ease-out 0.2s}.menu-active .hamburger:hover,.menu-active .hamburger:focus{-webkit-transform:matrix(0.85, 0, 0, 0.85, 0, 0);transform:matrix(0.85, 0, 0, 0.85, 0, 0)}.menu-active .hamburger #hamburger-top{-webkit-transform:matrix(0.7071, 0.7071, -0.7071, 0.7071, 11, -6);transform:matrix(0.7071, 0.7071, -0.7071, 0.7071, 11, -6)}.menu-active .hamburger #hamburger-middle{opacity:0}.menu-active .hamburger #hamburger-bottom{-webkit-transform:matrix(0.7071, -0.7071, 0.7071, 0.7071, -11, 9);transform:matrix(0.7071, -0.7071, 0.7071, 0.7071, -11, 9)}.bedrock{background-color:#37a6b1;color:#fff;font-family:"rift",sans-serif;padding:4% 4% 3%}@media (max-width: 47.9375em){.bedrock [class*='grid-flex-']{-webkit-flex-basis:100%;-ms-flex-preferred-size:100%;flex-basis:100%;max-width:100%}}.bedrock .footer-center{max-width:900px;max-width:75rem;margin:auto}@media (max-width: 47.9375em){.bedrock .footer-center{text-align:center}}.bedrock .footer-logo{width:300px;width:25rem}@media (max-width: 47.9375em){.bedrock .footer-logo{margin-left:auto;margin-right:auto}}.bedrock .footer-logo path{fill:#fff}.bedrock .footer-byline{font-family:"rift",sans-serif;margin:0;margin-top:24px;margin-top:2rem;font-size:19px;font-size:1.5833333333rem;font-weight:600;line-height:1.3;max-width:70%;letter-spacing:2px;letter-spacing:.1666666667rem}@media (max-width: 47.9375em){.bedrock .footer-byline{max-width:100%}}.bedrock .social{margin-top:24px;margin-top:2rem}.bedrock .social li a{color:#fff;-webkit-transition:0.3s ease-out;transition:0.3s ease-out}.bedrock .social a:hover,.bedrock .social a:focus{color:#31959f}.bedrock .footer-menu{margin-top:58px;margin-top:4.8333333333rem}@media (max-width: 47.9375em){.bedrock .footer-menu{margin-top:10px;margin-top:.8333333333rem}}.bedrock .footer-menu ul{-webkit-column-count:2;-moz-column-count:2;column-count:2;-webkit-column-gap:20px;-moz-column-gap:20px;column-gap:20px;-webkit-column-gap:1.6666666667rem;-moz-column-gap:1.6666666667rem;column-gap:1.6666666667rem;margin-bottom:0}.bedrock .footer-menu ul a{color:#fff;line-height:1;display:block;font-size:18px;font-size:1.5rem;padding:5px 0 5px 10px;padding:.4166666667rem 0 .4166666667rem .8333333333rem;border-left:2px solid #fff;-webkit-transition:border 0.1s ease-in;transition:border 0.1s ease-in}@media (max-width: 47.9375em){.bedrock .footer-menu ul a{border:none}}.bedrock .footer-menu ul a:hover,.bedrock .footer-menu ul a:focus{border-color:#31959f}.bedrock .footer-menu ul li:first-child a,.bedrock .footer-menu ul li:nth-child(5) a{padding-top:0}.bedrock .footer-menu ul li:last-child a,.bedrock .footer-menu ul li:nth-child(4) a{padding-bottom:0}.bedrock .back-top{margin-top:48px;margin-top:4rem;color:#fff}.bedrock .siteinfo p{text-transform:none;font-size:12px;font-size:1rem}.bedrock .bmas path,.bedrock .bmas polygon{fill:#fff}section#intro{position:relative;color:#fff;background-position:center;background-size:cover;background-repeat:no-repeat;margin-top:65px;margin-top:5.4166666667rem}section#intro::after{content:'';position:absolute;width:100%;height:100%;top:0;right:0;bottom:0;background-color:rgba(0,0,0,0.4);z-index:1}section#intro .container-flex,section#intro .masthead{z-index:2;position:relative;margin:0 auto;min-height:calc(100vh - 65px)}@media (max-width: 47.9375em){section#intro .container-flex,section#intro .masthead{display:block}section#intro .container-flex .flex-center,section#intro .masthead .flex-center{display:block}}@media (max-width: 47.9375em){section#intro .intro-cta{width:100%;margin:0}}@media (max-width: 47.9375em){section#intro .intro-right{width:100%;margin-top:80px;margin-top:6.6666666667rem}}section#intro .intro-right figure{width:100%;position:relative;max-width:60%;margin:60px;margin:5rem;text-align:center}section#intro .intro-right figure img{display:block;width:100%;border-radius:2px;border-radius:.1666666667rem;box-shadow:2px 2px 10px 2px rgba(0,0,0,0.3)}section#intro .intro-right .book-cta .btn{padding:20px 22px;padding:1.6666666667rem 1.8333333333rem;font-size:12px;font-size:1rem;margin-top:20px;margin-top:1.6666666667rem;display:inline-block}section#intro .cfs-logo-stacked{max-width:300px;max-width:25rem;margin:0}@media (max-width: 47.9375em){section#intro .cfs-logo-stacked{max-width:500px;max-width:41.6666666667rem}}section#intro .intro-highlights{list-style:none;margin:0;text-align:left;max-width:330px;max-width:27.5rem}section#intro .intro-highlights li{margin-bottom:12px;margin-bottom:1rem;font-size:15px;font-size:1.25rem}section#intro .intro-highlights li span{margin-right:10px;margin-right:.8333333333rem;color:#31959f}section#intro .main-description{margin:0;text-align:left;font-size:22px;font-size:1.8333333333rem;max-width:360px;max-width:30rem;margin:18px 0;margin:1.5rem 0}section#intro .cfs-date{font-family:"rift",sans-serif;font-size:23px;font-size:1.9166666667rem;margin:24px 0;margin:2rem 0;padding-top:0;line-height:1}section#intro .cfs-date svg{max-width:24px;max-width:2rem;margin-right:12px;margin-right:1rem;vertical-align:top}section#intro .cfs-btn-donate{padding:30px 72px;padding:2.5rem 6rem}@media (max-width: 47.9375em){section#intro .cfs-btn-donate{padding:8% 10%}}section#intro .intro-cta-actions{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-orient:horizontal;-webkit-box-direction:normal;-webkit-flex-direction:row;-ms-flex-direction:row;flex-direction:row;-webkit-align-content:flex-start;-ms-flex-line-pack:start;align-content:flex-start;margin-top:40px;margin-top:3.3333333333rem}@media (max-width: 29.9375em){section#intro .intro-cta-actions{display:none}}section#intro .intro-cta-actions-item{max-width:100%;text-align:left;padding-right:25px;padding-right:2.0833333333rem}@media (max-width: 68.6875em){section#intro .intro-cta-actions-item{margin-left:auto;margin-right:auto}}section#intro .intro-cta-actions .cta-mail{font-family:"rift",sans-serif}section#intro .intro-cta-actions .cta-mail a{font-size:14px;font-size:1.1666666667rem}section#intro .intro-cta-actions h2{color:#37a6b1;text-align:left;font-size:19px;font-size:1.5833333333rem;margin-bottom:12px;margin-bottom:1rem}section#intro .intro-cta-actions a{color:#fff;-webkit-transition:0.3s ease-out;transition:0.3s ease-out}section#intro .intro-cta-actions .cta-mail{font-size:21px;font-size:1.75rem}section#intro .intro-cta-actions .next-gen-logo{fill:#fff;max-width:90px;max-width:7.5rem;min-width:80px;min-width:6.6666666667rem;-webkit-transition:0.3s ease-out;transition:0.3s ease-out}section#intro .intro-cta-actions a:hover,section#intro .intro-cta-actions a:focus{color:#31959f}section#intro .intro-cta-actions a:hover svg,section#intro .intro-cta-actions a:focus svg{fill:#31959f}section#intro .intro-cta-actions .social.icons{margin:0;text-align:left}section#intro .intro-cta-actions .social.icons li{margin:0;padding-right:5px;padding-right:.4166666667rem}section#intro .intro-cta-actions .social.icons li a{background-color:#fff;border-radius:50%;display:block;padding:5px;text-align:center}section#intro .intro-cta-actions .social.icons li a:hover{background-color:#000}section#intro .intro-cta-actions .social.icons li a:hover span{color:#fff}section#intro .intro-cta-actions .social.icons li span{color:#000;font-size:1.3em;vertical-align:middle}section#intro .sticker{position:absolute;top:-10px;top:-.8333333333rem;left:-30px;left:-2.5rem;text-align:center}section#intro .sticker::before{content:'';position:absolute;top:0;left:0;right:0;bottom:0;margin:auto;background-color:#37a6b1;z-index:1;border-radius:50%;width:110px;width:9.1666666667rem;height:110px;height:9.1666666667rem}section#intro .sticker p{font-size:10px;font-size:.8333333333rem;width:110px;width:9.1666666667rem;z-index:2;position:relative}section#intro .sticker span{font-size:12px;font-size:1rem}section#intro .intro-left,section#intro .intro-right{padding:22px;padding:1.8333333333rem}@media (max-width: 68.6875em){section#intro .intro-left,section#intro .intro-right{-webkit-flex-basis:100%;-ms-flex-preferred-size:100%;flex-basis:100%;max-width:100%;text-align:center}}@media (max-width: 68.6875em){section#intro .intro-right{padding:0;margin-top:50px;margin-top:4.1666666667rem}}@media (max-width: 68.6875em){section#intro .intro-left{margin-top:25px;margin-top:2.0833333333rem}}section#quote{padding:3% 20%;text-align:center}@media (max-width: 68.6875em){section#quote{padding:3% 5%}}section#quote blockquote{border:none;max-width:940px;max-width:78.3333333333rem;margin-left:auto;margin-right:auto}section#quote blockquote p{color:#080808;font-size:21px;font-size:1.75rem;line-height:1.6;font-weight:300}@media (max-width: 47.9375em){section#quote blockquote p{font-size:15px;font-size:1.25rem}}section#quote blockquote p strong{font-weight:900;font-style:normal}section#quote blockquote p strong::first-letter{color:#37a6b1}section#quote blockquote cite{color:#37a6b1;font-size:24px;font-size:2rem;font-weight:700;margin:24px;margin:2rem;text-transform:uppercase;font-family:"rift",sans-serif}section#quote blockquote cite::before{display:none}section#order-now{background-size:cover;background-repeat:no-repeat;background-position:center}section#order-now>div{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;padding:15% 4%;color:#fff;line-height:1.5}section#order-now>div>div{width:100%}section#order-now>div>div p{max-width:210px;margin:0 0 10px 0;margin:0 0 .8333333333rem 0}@media (min-width: 2000px){section#order-now>div>div p{max-width:500px}}section#order-now>div>div p.text{font-weight:300;font-style:italic;font-size:12px;font-size:1rem}@media (min-width: 2000px){section#order-now>div>div p.text{font-size:24px;font-size:2rem}}section#order-now>div>div p.author{text-transform:uppercase;color:#31959f;font-family:"rift",sans-serif;font-weight:600;font-size:14px;font-size:1.1666666667rem}@media (min-width: 2000px){section#order-now>div>div p.author{font-size:26px;font-size:2.1666666667rem}}section#order-now>div>div>div{padding-top:20px;padding-top:1.6666666667rem}section#order-now>div>div a{display:inline-block;background-color:#31959f;color:#fff;text-transform:uppercase;font-size:10px;font-size:.8333333333rem;padding:15px 20px;padding:1.25rem 1.6666666667rem}@media (min-width: 2000px){section#order-now>div>div a{font-size:20px;font-size:1.6666666667rem}}section#what,section#why{height:100vh;position:relative;background-size:cover;background-attachment:fixed}section#what .cont-overlay,section#why .cont-overlay{border:2px solid #fff;border-radius:2px;background-clip:padding-box;max-width:600px;max-width:50rem;overflow:hidden}section#what .cont-overlay h2,section#why .cont-overlay h2{text-align:center;letter-spacing:3px;letter-spacing:.25rem;font-size:60px;font-size:5rem;line-height:1;color:#fff;padding:6% 5%}section#what .cont-overlay h2 .top-title,section#why .cont-overlay h2 .top-title{font-size:72px;font-size:6rem;font-weight:500}section#what .cont-overlay p,section#why .cont-overlay p{background-color:#fff;padding:9%;font-size:15px;font-size:1.25rem;line-height:1.6;text-align:justify}@media (max-width: 47.9375em){section#what .cont-overlay p,section#why .cont-overlay p{text-align:left}}section#what .cont-overlay p .dropCap,section#why .cont-overlay p .dropCap{color:#37a6b1;font-weight:900;font-size:43px;font-size:3.5833333333rem;float:left;line-height:1;padding:1% 1% 0}section#organisers,section#get-involved,section#participating-restaurants{padding:4%}section#organisers .cont-overlay,section#get-involved .cont-overlay,section#participating-restaurants .cont-overlay{background-color:#fff;border-radius:2px;background-clip:padding-box;padding:6% 5% 3%;position:relative;z-index:2}section#organisers .cfs-logo-long,section#get-involved .cfs-logo-long,section#participating-restaurants .cfs-logo-long{width:280px;width:23.3333333333rem}@media (max-width: 68.6875em){section#organisers .cfs-logo-long,section#get-involved .cfs-logo-long,section#participating-restaurants .cfs-logo-long{margin-left:auto;margin-right:auto}}section#organisers .cfs-logo-long path,section#get-involved .cfs-logo-long path,section#participating-restaurants .cfs-logo-long path{fill:#080808}section#organisers .sec-title,section#get-involved .sec-title,section#participating-restaurants .sec-title{font-size:72px;font-size:6rem;letter-spacing:4px;letter-spacing:.3333333333rem}@media (max-width: 68.6875em){section#organisers .sec-title,section#get-involved .sec-title,section#participating-restaurants .sec-title{text-align:center}}section#organisers .photo-credit,section#get-involved .photo-credit,section#participating-restaurants .photo-credit{font-size:16px;font-size:1.3333333333rem;color:#9b9b9b}@media (max-width: 68.6875em){section#organisers .photo-credit,section#get-involved .photo-credit,section#participating-restaurants .photo-credit{font-size:12px;font-size:1rem;text-align:center;margin-bottom:20px;margin-bottom:1.6666666667rem}}@media (max-width: 68.6875em){section#organisers .get-inv-cta,section#get-involved .get-inv-cta,section#participating-restaurants .get-inv-cta{text-align:center}}section#organisers .para-list-item,section#get-involved .para-list-item,section#participating-restaurants .para-list-item{padding:0 3% 3%}section#organisers .para-list h3,section#get-involved .para-list h3,section#participating-restaurants .para-list h3{color:#37a6b1;font-size:22px;font-size:1.8333333333rem;margin-bottom:8px;margin-bottom:.6666666667rem;line-height:1.5}section#organisers .para-list h3 .para-icon,section#get-involved .para-list h3 .para-icon,section#participating-restaurants .para-list h3 .para-icon{max-width:20px;max-width:1.6666666667rem;margin-right:10px;margin-right:.8333333333rem}section#organisers .para-list p,section#get-involved .para-list p,section#participating-restaurants .para-list p{font-size:15px;font-size:1.25rem;line-height:1.6}section#organisers .para-list p a,section#get-involved .para-list p a,section#participating-restaurants .para-list p a{font-weight:900}section#get-involved .sec-title,section#participating-restaurants .sec-title{line-height:0.9;color:#232323}section#get-involved .cfs-btn-donate,section#participating-restaurants .cfs-btn-donate{margin-top:48px;margin-top:4rem;margin-bottom:24px;margin-bottom:2rem;padding:24px 60px;padding:2rem 5rem}section#get-involved .part-rest-list,section#participating-restaurants .part-rest-list{-webkit-column-count:3;-moz-column-count:3;column-count:3;-webkit-column-gap:20px;-moz-column-gap:20px;column-gap:20px;-webkit-column-gap:1.6666666667rem;-moz-column-gap:1.6666666667rem;column-gap:1.6666666667rem}@media (max-width: 68.6875em){section#get-involved .part-rest-list,section#participating-restaurants .part-rest-list{-webkit-column-count:2;-moz-column-count:2;column-count:2}}@media (max-width: 29.9375em){section#get-involved .part-rest-list,section#participating-restaurants .part-rest-list{-webkit-column-count:1;-moz-column-count:1;column-count:1}}section#get-involved .part-rest-list li,section#participating-restaurants .part-rest-list li{color:#9b9b9b;font-size:14px;font-size:1.1666666667rem;line-height:1.5}section#headline-chefs{position:relative;background-size:cover;background-attachment:fixed}section#headline-chefs .intro{padding-top:4%;padding-bottom:4%;color:#fff;max-width:770px;max-width:64.1666666667rem;text-align:center}section#headline-chefs .title{text-align:center;letter-spacing:3px;letter-spacing:.25rem;font-size:60px;font-size:5rem;color:#fff;padding-bottom:1%}@media (max-width: 47.9375em){section#headline-chefs .title{font-size:34px;font-size:2.8333333333rem}}section#headline-chefs .title .fa{font-size:38px;font-size:3.1666666667rem}section#headline-chefs p strong{color:#fff;font-weight:900;-webkit-transition:0.3s ease-out;transition:0.3s ease-out}section#headline-chefs p strong:hover,section#headline-chefs p strong:focus{color:#37a6b1}section#headline-chefs .chef-highlight{max-width:1460px;max-width:121.6666666667rem;padding-bottom:3%;margin-left:auto;margin-right:auto}@media (max-width: 68.6875em){section#headline-chefs .chef-highlight .grid-flex-4{-webkit-flex-basis:50%;-ms-flex-preferred-size:50%;flex-basis:50%;max-width:50%}}@media (max-width: 47.9375em){section#headline-chefs .chef-highlight .grid-flex-4{-webkit-flex-basis:100%;-ms-flex-preferred-size:100%;flex-basis:100%;max-width:100%}}section#headline-chefs .cfs-btn-donate{padding:24px 36px;padding:2rem 3rem;margin-bottom:46px;margin-bottom:3.8333333333rem}.filters{margin:0;list-style:none;overflow:hidden;margin:1% auto}.filters li{display:inline-block;float:left;margin:5px}.filters button{color:#37a6b1;background-color:#fff;border:1px solid #37a6b1;border-radius:5px;text-transform:uppercase;padding:10px;cursor:pointer}.filters button:hover,.filters button.active{background-color:#37a6b1;color:#fff}.filter-title{color:#D9D9D9;width:100%;text-align:center;letter-spacing:1px}input[name="search-filter"]{text-align:center;margin:0 auto;border:1px solid #D9D9D9;border-radius:5px;max-width:300px}input[name="search-filter"]:focus::-webkit-input-placeholder{opacity:0}input[name="search-filter"]:focus::-moz-placeholder{opacity:0}input[name="search-filter"]:focus:-ms-input-placeholder{opacity:0}input[name="search-filter"]:focus::placeholder{opacity:0}input[name="search-filter"]::-webkit-input-placeholder{color:#D9D9D9;text-transform:uppercase;font-size:12px;font-size:1rem}input[name="search-filter"]::-moz-placeholder{color:#D9D9D9;text-transform:uppercase;font-size:12px;font-size:1rem}input[name="search-filter"]:-ms-input-placeholder{color:#D9D9D9;text-transform:uppercase;font-size:12px;font-size:1rem}input[name="search-filter"]::placeholder{color:#D9D9D9;text-transform:uppercase;font-size:12px;font-size:1rem}.headline-card{cursor:pointer;padding:1%;overflow:hidden;-webkit-transition:-webkit-transform 0.1s ease-in;transition:-webkit-transform 0.1s ease-in;transition:transform 0.1s ease-in;transition:transform 0.1s ease-in, -webkit-transform 0.1s ease-in}.headline-card.hidden{display:none}.headline-card .card-name{background-color:#fff;border-top-right-radius:2px;border-top-left-radius:2px;background-clip:padding-box;-webkit-transition:0.2s ease-out;transition:0.2s ease-out;padding:5% 4%}.headline-card .card-img{position:relative;overflow:hidden}.headline-card .card-img img{width:100%;display:block;-webkit-transition:opacity 0.2s ease-out;transition:opacity 0.2s ease-out;border-bottom-right-radius:2px;border-bottom-left-radius:2px;background-clip:padding-box}.headline-card .card-img .chef-img{-webkit-filter:gray;filter:gray;-webkit-filter:grayscale(100%);filter:grayscale(100%);z-index:4}.headline-card .card-img .recipe-img{position:absolute;top:0;bottom:0;left:0;right:0;z-index:1}.headline-card .card-img::after{content:'';position:absolute;width:100%;height:100%;top:0;right:0;bottom:0;background-color:rgba(0,0,0,0.4);z-index:2}.headline-card .card-info{color:#fff;padding:5%;position:absolute;width:100%;bottom:0;left:0;right:0;z-index:3}.headline-card .card-info .cta{font-family:"rift",sans-serif;font-size:28px;font-size:2.3333333333rem}.headline-card .card-info svg{width:20px;width:1.6666666667rem;margin-right:10px;margin-right:.8333333333rem}.headline-card .card-info li{font-size:16px;font-size:1.3333333333rem}.headline-card:hover .chef-img,.headline-card:focus .chef-img{opacity:0}.headline-card:hover .card-name,.headline-card:focus .card-name{color:#fff;background-color:#37a6b1}@media (max-width: 68.6875em){section#intro,section#what,section#why,section#headline-chefs{height:100%;padding:5%}}@media (max-width: 68.6875em){section#organisers [class*='grid-flex-'],section#get-involved [class*='grid-flex-'],section#participating-restaurants [class*='grid-flex-']{-webkit-flex-basis:100%;-ms-flex-preferred-size:100%;flex-basis:100%;max-width:100%}}@media (max-width: 68.6875em) and (max-width: 29.9375em){section#organisers .sec-title,section#get-involved .sec-title,section#participating-restaurants .sec-title{font-size:34px;font-size:2.8333333333rem}}@media (max-width: 47.9375em){section#what .cont-overlay h2,section#why .cont-overlay h2{font-size:34px;font-size:2.8333333333rem}}section#recipe-book{text-align:center;background-color:#efefef;padding:1%}main.raised{margin-top:65px;margin-top:5.4166666667rem;background-color:#f9f7f7;padding:3% 5%}main.raised .primary-cont{background-color:#fff;border:2px solid #efefef;border-radius:2px;background-clip:padding-box;padding:4%;max-width:1750px;max-width:145.8333333333rem;margin:auto;display:block}main.raised .sec-title{font-size:48px;font-size:4rem;letter-spacing:4px;letter-spacing:.3333333333rem;line-height:0.9;color:#232323;margin-bottom:7%}main.raised p{font-size:15px;font-size:1.25rem;line-height:1.6}.page-faq .faq-list{margin-left:20px;margin-left:1.6666666667rem}@media (max-width: 68.6875em){.page-faq .faq-list{margin-top:20px;margin-top:1.6666666667rem;margin-left:0}}.page-faq .faq-answer{display:block;padding:2% 3%;background-color:#efefef;font-size:16px;font-size:1.3333333333rem;-webkit-transition:background 0.1s ease-out;transition:background 0.1s ease-out;cursor:pointer}.page-faq .faq-answer:hover,.page-faq .faq-answer:focus{background-color:#37a6b1;color:#fff}.page-faq .faq-question{padding:4%;border:2px solid #efefef;border-top:none;border-bottom:none}.page-faq .faq-question p,.page-faq .faq-question li{font-size:14px;font-size:1.1666666667rem;line-height:1.3}.page-faq .faq-question strong{font-weight:900}.page-faq .faq-question ul{margin-bottom:0}.page-faq .faq-question ul li{margin-bottom:10px;margin-bottom:.8333333333rem}@media (max-width: 68.6875em){.page-faq [class*='grid-flex-']{-webkit-flex-basis:100%;-ms-flex-preferred-size:100%;flex-basis:100%;max-width:100%}}main.pattern{position:relative;background-color:#fff;background-size:40px 23.3px, 100%;background-repeat:repeat;background-position:1px -1px, 0}.page-hosting-tips main .primary-cont,.page-australia main .primary-cont,.archive main .primary-cont{padding:0}.page-hosting-tips main .page-head,.page-australia main .page-head,.archive main .page-head{background-size:cover;background-position:center top;text-align:center;min-height:50vh;padding:15% 10%;position:relative}.page-hosting-tips main .page-head::after,.page-australia main .page-head::after,.archive main .page-head::after{content:'';position:absolute;width:100%;height:100%;top:0;right:0;bottom:0;background-color:rgba(0,0,0,0.5);z-index:1}.page-hosting-tips main .page-head .page-head-cont,.page-australia main .page-head .page-head-cont,.archive main .page-head .page-head-cont{position:relative;z-index:2;max-width:690px;max-width:57.5rem;margin:auto}.page-hosting-tips main .page-head .page-head-cont strong,.page-australia main .page-head .page-head-cont strong,.archive main .page-head .page-head-cont strong{font-weight:900}.page-hosting-tips main .page-head .page-head-cont h1,.page-hosting-tips main .page-head .page-head-cont h2,.page-hosting-tips main .page-head .page-head-cont p,.page-hosting-tips main .page-head .page-head-cont li,.page-australia main .page-head .page-head-cont h1,.page-australia main .page-head .page-head-cont h2,.page-australia main .page-head .page-head-cont p,.page-australia main .page-head .page-head-cont li,.archive main .page-head .page-head-cont h1,.archive main .page-head .page-head-cont h2,.archive main .page-head .page-head-cont p,.archive main .page-head .page-head-cont li{color:#fff}.page-hosting-tips main .page-head .page-head-cont h2,.page-australia main .page-head .page-head-cont h2,.archive main .page-head .page-head-cont h2{margin-bottom:20px;margin-bottom:1.6666666667rem}@media (max-width: 47.9375em){.page-hosting-tips main .page-head .page-head-cont h1,.page-australia main .page-head .page-head-cont h1,.archive main .page-head .page-head-cont h1{font-size:30px;font-size:2.5rem}}.page-hosting-tips main .page-content .inner-content,.page-australia main .page-content .inner-content,.archive main .page-content .inner-content{max-width:690px;max-width:57.5rem;display:block;margin:auto;padding:5%}.page-hosting-tips main .page-content .inner-content hr,.page-australia main .page-content .inner-content hr,.archive main .page-content .inner-content hr{padding:4% 0}.page-hosting-tips main .page-content .inner-content .DropCap,.page-australia main .page-content .inner-content .DropCap,.archive main .page-content .inner-content .DropCap{color:#37a6b1;font-weight:900;font-size:43px;font-size:3.5833333333rem;float:left;line-height:1;padding:1% 1% 0}.page-australia main.raised{padding:0}.page-australia main div.page-head{background-position:center;min-height:90vh}.page-australia main div.page-head .page-head-cont{margin-bottom:25%}.archive main .page-head .sec-title{font-family:"museo-slab",serif;font-size:72px;font-size:6rem;font-weight:300}.archive main .page-head .sec-title .top-title{font-family:"rift",sans-serif;font-size:24px;font-size:2rem;line-height:2}.archive main .page-content{padding:5%}@media (max-width: 68.6875em){.archive main .page-content [class*='grid-flex-']{-webkit-flex-basis:50%;-ms-flex-preferred-size:50%;flex-basis:50%;max-width:50%}}@media (max-width: 47.9375em){.archive main .page-content [class*='grid-flex-']{-webkit-flex-basis:100%;-ms-flex-preferred-size:100%;flex-basis:100%;max-width:100%}}.archive main .page-content .card-name{border:2px solid #efefef;border-bottom:none;font-size:15px;font-size:1.25rem;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}.archive main .page-content .card-info{background-color:rgba(0,0,0,0.25);font-size:12px;font-size:1rem}.archive main .page-content .card-img{border:2px solid #efefef;border-top:none}.archive main .page-content .card-img::after{display:none}.single-recipe .grid-flex-6{padding:2%}@media (max-width: 68.6875em){.single-recipe .grid-flex-6:nth-child(1),.single-recipe .grid-flex-6:nth-child(2){-webkit-flex-basis:100%;-ms-flex-preferred-size:100%;flex-basis:100%;max-width:100%}}@media (max-width: 68.6875em){.single-recipe .grid-flex-6:nth-child(1){-webkit-box-ordinal-group:3;-webkit-order:2;-ms-flex-order:2;order:2}}.single-recipe main hr{background-image:-webkit-linear-gradient(right, #e6e6e6, #e6e6e6, #e6e6e6);background-image:linear-gradient(to left, #e6e6e6, #e6e6e6, #e6e6e6)}.single-recipe main .sec-title{font-family:"museo-slab",serif;color:#37a6b1;font-weight:500;font-size:36px;font-size:3rem;margin-bottom:30px;margin-bottom:2.5rem;letter-spacing:1px;letter-spacing:.0833333333rem}.single-recipe main .dish-by{font-size:16px;font-size:1.3333333333rem}.single-recipe main .fa-instagram{margin-right:5px;margin-right:.4166666667rem}.single-recipe main .chef-link{margin-bottom:0}.single-recipe main .chef-link a{font-size:20px;font-size:1.6666666667rem;color:#080808}.single-recipe main .recipe-details{font-size:16px;font-size:1.3333333333rem}.single-recipe main .social{margin-top:10px;margin-top:.8333333333rem}.single-recipe main .social ul li{font-size:16px;font-size:1.3333333333rem}.single-recipe main .instructions h2{font-size:26px;font-size:2.1666666667rem}.single-recipe main .ingredient-list li,.single-recipe main .method-steps li{font-size:15px;font-size:1.25rem;line-height:1.6;margin-bottom:20px;margin-bottom:1.6666666667rem}.single-recipe main .ingredients-list h3{margin-bottom:5px;margin-bottom:.4166666667rem;color:#9b9b9b}.single-recipe main .ingredients-list ul{margin-left:5px;margin-left:.4166666667rem}.single-recipe main .ingredients-list li{font-style:italic;margin-bottom:3px;margin-bottom:.25rem}#wp-admin-bar-bmas_logo a{padding:0 !important}.owl-carousel .animated{-webkit-animation-duration:1000ms;animation-duration:1000ms;-webkit-animation-fill-mode:both;animation-fill-mode:both}.owl-carousel .owl-animated-in{z-index:0}.owl-carousel .owl-animated-out{z-index:1}.owl-carousel .fadeOut{-webkit-animation-name:fadeOut;animation-name:fadeOut}@-webkit-keyframes fadeOut{0%{opacity:1}100%{opacity:0}}@keyframes fadeOut{0%{opacity:1}100%{opacity:0}}.owl-height{-webkit-transition:height 500ms ease-in-out;transition:height 500ms ease-in-out}.owl-carousel{display:none;width:100%;-webkit-tap-highlight-color:transparent;position:relative;z-index:1}.owl-carousel .owl-stage{position:relative;-ms-touch-action:pan-Y}.owl-carousel .owl-stage:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0}.owl-carousel .owl-stage-outer{position:relative;overflow:hidden;-webkit-transform:translate3d(0px, 0px, 0px)}.owl-carousel .owl-controls .owl-nav .owl-prev,.owl-carousel .owl-controls .owl-nav .owl-next,.owl-carousel .owl-controls .owl-dot{cursor:pointer;cursor:hand;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.owl-carousel.owl-loaded{display:block}.owl-carousel.owl-loading{opacity:0;display:block}.owl-carousel.owl-hidden{opacity:0}.owl-carousel .owl-refresh .owl-item{display:none}.owl-carousel .owl-item{position:relative;min-height:1px;float:left;-webkit-backface-visibility:hidden;-webkit-tap-highlight-color:transparent;-webkit-touch-callout:none;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.owl-carousel .owl-item img{display:block;width:100%;-webkit-transform-style:preserve-3d}.owl-carousel.owl-text-select-on .owl-item{-webkit-user-select:auto;-moz-user-select:auto;-ms-user-select:auto;user-select:auto}.owl-carousel .owl-grab{cursor:move;cursor:-webkit-grab;cursor:-o-grab;cursor:-ms-grab;cursor:grab}.owl-carousel.owl-rtl{direction:rtl}.owl-carousel.owl-rtl .owl-item{float:right}.no-js .owl-carousel{display:block}.owl-carousel .owl-item .owl-lazy{opacity:0;-webkit-transition:opacity 400ms ease;transition:opacity 400ms ease}.owl-carousel .owl-item img{-webkit-transform-style:preserve-3d;transform-style:preserve-3d}.owl-carousel .owl-video-wrapper{position:relative;height:100%;background:#000}.owl-carousel .owl-video-play-icon{position:absolute;height:80px;width:80px;left:50%;top:50%;margin-left:-40px;margin-top:-40px;background:url("owl.video.play.png") no-repeat;cursor:pointer;z-index:1;-webkit-backface-visibility:hidden;-webkit-transition:scale 100ms ease;transition:scale 100ms ease}.owl-carousel .owl-video-play-icon:hover{-webkit-transition:scale(1.3, 1.3);transition:scale(1.3, 1.3)}.owl-carousel .owl-video-playing .owl-video-tn,.owl-carousel .owl-video-playing .owl-video-play-icon{display:none}.owl-carousel .owl-video-tn{opacity:0;height:100%;background-position:center center;background-repeat:no-repeat;background-size:contain;-webkit-transition:opacity 400ms ease;transition:opacity 400ms ease}.owl-carousel .owl-video-frame{position:relative;z-index:1}/*!
 *  Font Awesome 4.6.3 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */@font-face{font-family:'FontAwesome';src:url("./fonts/font-awesome//fontawesome-webfont.eot?v=4.6.3");src:url("./fonts/font-awesome//fontawesome-webfont.eot?#iefix&v=4.6.3") format("embedded-opentype"),url("./fonts/font-awesome//fontawesome-webfont.woff2?v=4.6.3") format("woff2"),url("./fonts/font-awesome//fontawesome-webfont.woff?v=4.6.3") format("woff"),url("./fonts/font-awesome//fontawesome-webfont.ttf?v=4.6.3") format("truetype"),url("./fonts/font-awesome//fontawesome-webfont.svg?v=4.6.3#fontawesomeregular") format("svg");font-weight:normal;font-style:normal}.fa{display:inline-block;font:normal normal normal 14px/1 FontAwesome;font-size:inherit;text-rendering:auto;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}.fa-lg{font-size:1.3333333333em;line-height:.75em;vertical-align:-15%}.fa-2x{font-size:2em}.fa-3x{font-size:3em}.fa-4x{font-size:4em}.fa-5x{font-size:5em}.fa-fw{width:1.2857142857em;text-align:center}.fa-ul{padding-left:0;margin-left:2.1428571429em;list-style-type:none}.fa-ul>li{position:relative}.fa-li{position:absolute;left:-2.1428571429em;width:2.1428571429em;top:.1428571429em;text-align:center}.fa-li.fa-lg{left:-1.8571428571em}.fa-border{padding:.2em .25em .15em;border:solid 0.08em #eee;border-radius:.1em}.fa-pull-left{float:left}.fa-pull-right{float:right}.fa.fa-pull-left{margin-right:.3em}.fa.fa-pull-right{margin-left:.3em}.pull-right{float:right}.pull-left{float:left}.fa.pull-left{margin-right:.3em}.fa.pull-right{margin-left:.3em}.fa-spin{-webkit-animation:fa-spin 2s infinite linear;animation:fa-spin 2s infinite linear}.fa-pulse{-webkit-animation:fa-spin 1s infinite steps(8);animation:fa-spin 1s infinite steps(8)}@-webkit-keyframes fa-spin{0%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}100%{-webkit-transform:rotate(359deg);transform:rotate(359deg)}}@keyframes fa-spin{0%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}100%{-webkit-transform:rotate(359deg);transform:rotate(359deg)}}.fa-rotate-90{-ms-filter:"progid:DXImageTransform.Microsoft.BasicImage(rotation=1)";-webkit-transform:rotate(90deg);transform:rotate(90deg)}.fa-rotate-180{-ms-filter:"progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";-webkit-transform:rotate(180deg);transform:rotate(180deg)}.fa-rotate-270{-ms-filter:"progid:DXImageTransform.Microsoft.BasicImage(rotation=3)";-webkit-transform:rotate(270deg);transform:rotate(270deg)}.fa-flip-horizontal{-ms-filter:"progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1)";-webkit-transform:scale(-1, 1);transform:scale(-1, 1)}.fa-flip-vertical{-ms-filter:"progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1)";-webkit-transform:scale(1, -1);transform:scale(1, -1)}:root .fa-rotate-90,:root .fa-rotate-180,:root .fa-rotate-270,:root .fa-flip-horizontal,:root .fa-flip-vertical{-webkit-filter:none;filter:none}.fa-stack{position:relative;display:inline-block;width:2em;height:2em;line-height:2em;vertical-align:middle}.fa-stack-1x,.fa-stack-2x{position:absolute;left:0;width:100%;text-align:center}.fa-stack-1x{line-height:inherit}.fa-stack-2x{font-size:2em}.fa-inverse{color:#fff}.fa-glass:before{content:""}.fa-music:before{content:""}.fa-search:before{content:""}.fa-envelope-o:before{content:""}.fa-heart:before{content:""}.fa-star:before{content:""}.fa-star-o:before{content:""}.fa-user:before{content:""}.fa-film:before{content:""}.fa-th-large:before{content:""}.fa-th:before{content:""}.fa-th-list:before{content:""}.fa-check:before{content:""}.fa-remove:before,.fa-close:before,.fa-times:before{content:""}.fa-search-plus:before{content:""}.fa-search-minus:before{content:""}.fa-power-off:before{content:""}.fa-signal:before{content:""}.fa-gear:before,.fa-cog:before{content:""}.fa-trash-o:before{content:""}.fa-home:before{content:""}.fa-file-o:before{content:""}.fa-clock-o:before{content:""}.fa-road:before{content:""}.fa-download:before{content:""}.fa-arrow-circle-o-down:before{content:""}.fa-arrow-circle-o-up:before{content:""}.fa-inbox:before{content:""}.fa-play-circle-o:before{content:""}.fa-rotate-right:before,.fa-repeat:before{content:""}.fa-refresh:before{content:""}.fa-list-alt:before{content:""}.fa-lock:before{content:""}.fa-flag:before{content:""}.fa-headphones:before{content:""}.fa-volume-off:before{content:""}.fa-volume-down:before{content:""}.fa-volume-up:before{content:""}.fa-qrcode:before{content:""}.fa-barcode:before{content:""}.fa-tag:before{content:""}.fa-tags:before{content:""}.fa-book:before{content:""}.fa-bookmark:before{content:""}.fa-print:before{content:""}.fa-camera:before{content:""}.fa-font:before{content:""}.fa-bold:before{content:""}.fa-italic:before{content:""}.fa-text-height:before{content:""}.fa-text-width:before{content:""}.fa-align-left:before{content:""}.fa-align-center:before{content:""}.fa-align-right:before{content:""}.fa-align-justify:before{content:""}.fa-list:before{content:""}.fa-dedent:before,.fa-outdent:before{content:""}.fa-indent:before{content:""}.fa-video-camera:before{content:""}.fa-photo:before,.fa-image:before,.fa-picture-o:before{content:""}.fa-pencil:before{content:""}.fa-map-marker:before{content:""}.fa-adjust:before{content:""}.fa-tint:before{content:""}.fa-edit:before,.fa-pencil-square-o:before{content:""}.fa-share-square-o:before{content:""}.fa-check-square-o:before{content:""}.fa-arrows:before{content:""}.fa-step-backward:before{content:""}.fa-fast-backward:before{content:""}.fa-backward:before{content:""}.fa-play:before{content:""}.fa-pause:before{content:""}.fa-stop:before{content:""}.fa-forward:before{content:""}.fa-fast-forward:before{content:""}.fa-step-forward:before{content:""}.fa-eject:before{content:""}.fa-chevron-left:before{content:""}.fa-chevron-right:before{content:""}.fa-plus-circle:before{content:""}.fa-minus-circle:before{content:""}.fa-times-circle:before{content:""}.fa-check-circle:before{content:""}.fa-question-circle:before{content:""}.fa-info-circle:before{content:""}.fa-crosshairs:before{content:""}.fa-times-circle-o:before{content:""}.fa-check-circle-o:before{content:""}.fa-ban:before{content:""}.fa-arrow-left:before{content:""}.fa-arrow-right:before{content:""}.fa-arrow-up:before{content:""}.fa-arrow-down:before{content:""}.fa-mail-forward:before,.fa-share:before{content:""}.fa-expand:before{content:""}.fa-compress:before{content:""}.fa-plus:before{content:""}.fa-minus:before{content:""}.fa-asterisk:before{content:""}.fa-exclamation-circle:before{content:""}.fa-gift:before{content:""}.fa-leaf:before{content:""}.fa-fire:before{content:""}.fa-eye:before{content:""}.fa-eye-slash:before{content:""}.fa-warning:before,.fa-exclamation-triangle:before{content:""}.fa-plane:before{content:""}.fa-calendar:before{content:""}.fa-random:before{content:""}.fa-comment:before{content:""}.fa-magnet:before{content:""}.fa-chevron-up:before{content:""}.fa-chevron-down:before{content:""}.fa-retweet:before{content:""}.fa-shopping-cart:before{content:""}.fa-folder:before{content:""}.fa-folder-open:before{content:""}.fa-arrows-v:before{content:""}.fa-arrows-h:before{content:""}.fa-bar-chart-o:before,.fa-bar-chart:before{content:""}.fa-twitter-square:before{content:""}.fa-facebook-square:before{content:""}.fa-camera-retro:before{content:""}.fa-key:before{content:""}.fa-gears:before,.fa-cogs:before{content:""}.fa-comments:before{content:""}.fa-thumbs-o-up:before{content:""}.fa-thumbs-o-down:before{content:""}.fa-star-half:before{content:""}.fa-heart-o:before{content:""}.fa-sign-out:before{content:""}.fa-linkedin-square:before{content:""}.fa-thumb-tack:before{content:""}.fa-external-link:before{content:""}.fa-sign-in:before{content:""}.fa-trophy:before{content:""}.fa-github-square:before{content:""}.fa-upload:before{content:""}.fa-lemon-o:before{content:""}.fa-phone:before{content:""}.fa-square-o:before{content:""}.fa-bookmark-o:before{content:""}.fa-phone-square:before{content:""}.fa-twitter:before{content:""}.fa-facebook-f:before,.fa-facebook:before{content:""}.fa-github:before{content:""}.fa-unlock:before{content:""}.fa-credit-card:before{content:""}.fa-feed:before,.fa-rss:before{content:""}.fa-hdd-o:before{content:""}.fa-bullhorn:before{content:""}.fa-bell:before{content:""}.fa-certificate:before{content:""}.fa-hand-o-right:before{content:""}.fa-hand-o-left:before{content:""}.fa-hand-o-up:before{content:""}.fa-hand-o-down:before{content:""}.fa-arrow-circle-left:before{content:""}.fa-arrow-circle-right:before{content:""}.fa-arrow-circle-up:before{content:""}.fa-arrow-circle-down:before{content:""}.fa-globe:before{content:""}.fa-wrench:before{content:""}.fa-tasks:before{content:""}.fa-filter:before{content:""}.fa-briefcase:before{content:""}.fa-arrows-alt:before{content:""}.fa-group:before,.fa-users:before{content:""}.fa-chain:before,.fa-link:before{content:""}.fa-cloud:before{content:""}.fa-flask:before{content:""}.fa-cut:before,.fa-scissors:before{content:""}.fa-copy:before,.fa-files-o:before{content:""}.fa-paperclip:before{content:""}.fa-save:before,.fa-floppy-o:before{content:""}.fa-square:before{content:""}.fa-navicon:before,.fa-reorder:before,.fa-bars:before{content:""}.fa-list-ul:before{content:""}.fa-list-ol:before{content:""}.fa-strikethrough:before{content:""}.fa-underline:before{content:""}.fa-table:before{content:""}.fa-magic:before{content:""}.fa-truck:before{content:""}.fa-pinterest:before{content:""}.fa-pinterest-square:before{content:""}.fa-google-plus-square:before{content:""}.fa-google-plus:before{content:""}.fa-money:before{content:""}.fa-caret-down:before{content:""}.fa-caret-up:before{content:""}.fa-caret-left:before{content:""}.fa-caret-right:before{content:""}.fa-columns:before{content:""}.fa-unsorted:before,.fa-sort:before{content:""}.fa-sort-down:before,.fa-sort-desc:before{content:""}.fa-sort-up:before,.fa-sort-asc:before{content:""}.fa-envelope:before{content:""}.fa-linkedin:before{content:""}.fa-rotate-left:before,.fa-undo:before{content:""}.fa-legal:before,.fa-gavel:before{content:""}.fa-dashboard:before,.fa-tachometer:before{content:""}.fa-comment-o:before{content:""}.fa-comments-o:before{content:""}.fa-flash:before,.fa-bolt:before{content:""}.fa-sitemap:before{content:""}.fa-umbrella:before{content:""}.fa-paste:before,.fa-clipboard:before{content:""}.fa-lightbulb-o:before{content:""}.fa-exchange:before{content:""}.fa-cloud-download:before{content:""}.fa-cloud-upload:before{content:""}.fa-user-md:before{content:""}.fa-stethoscope:before{content:""}.fa-suitcase:before{content:""}.fa-bell-o:before{content:""}.fa-coffee:before{content:""}.fa-cutlery:before{content:""}.fa-file-text-o:before{content:""}.fa-building-o:before{content:""}.fa-hospital-o:before{content:""}.fa-ambulance:before{content:""}.fa-medkit:before{content:""}.fa-fighter-jet:before{content:""}.fa-beer:before{content:""}.fa-h-square:before{content:""}.fa-plus-square:before{content:""}.fa-angle-double-left:before{content:""}.fa-angle-double-right:before{content:""}.fa-angle-double-up:before{content:""}.fa-angle-double-down:before{content:""}.fa-angle-left:before{content:""}.fa-angle-right:before{content:""}.fa-angle-up:before{content:""}.fa-angle-down:before{content:""}.fa-desktop:before{content:""}.fa-laptop:before{content:""}.fa-tablet:before{content:""}.fa-mobile-phone:before,.fa-mobile:before{content:""}.fa-circle-o:before{content:""}.fa-quote-left:before{content:""}.fa-quote-right:before{content:""}.fa-spinner:before{content:""}.fa-circle:before{content:""}.fa-mail-reply:before,.fa-reply:before{content:""}.fa-github-alt:before{content:""}.fa-folder-o:before{content:""}.fa-folder-open-o:before{content:""}.fa-smile-o:before{content:""}.fa-frown-o:before{content:""}.fa-meh-o:before{content:""}.fa-gamepad:before{content:""}.fa-keyboard-o:before{content:""}.fa-flag-o:before{content:""}.fa-flag-checkered:before{content:""}.fa-terminal:before{content:""}.fa-code:before{content:""}.fa-mail-reply-all:before,.fa-reply-all:before{content:""}.fa-star-half-empty:before,.fa-star-half-full:before,.fa-star-half-o:before{content:""}.fa-location-arrow:before{content:""}.fa-crop:before{content:""}.fa-code-fork:before{content:""}.fa-unlink:before,.fa-chain-broken:before{content:""}.fa-question:before{content:""}.fa-info:before{content:""}.fa-exclamation:before{content:""}.fa-superscript:before{content:""}.fa-subscript:before{content:""}.fa-eraser:before{content:""}.fa-puzzle-piece:before{content:""}.fa-microphone:before{content:""}.fa-microphone-slash:before{content:""}.fa-shield:before{content:""}.fa-calendar-o:before{content:""}.fa-fire-extinguisher:before{content:""}.fa-rocket:before{content:""}.fa-maxcdn:before{content:""}.fa-chevron-circle-left:before{content:""}.fa-chevron-circle-right:before{content:""}.fa-chevron-circle-up:before{content:""}.fa-chevron-circle-down:before{content:""}.fa-html5:before{content:""}.fa-css3:before{content:""}.fa-anchor:before{content:""}.fa-unlock-alt:before{content:""}.fa-bullseye:before{content:""}.fa-ellipsis-h:before{content:""}.fa-ellipsis-v:before{content:""}.fa-rss-square:before{content:""}.fa-play-circle:before{content:""}.fa-ticket:before{content:""}.fa-minus-square:before{content:""}.fa-minus-square-o:before{content:""}.fa-level-up:before{content:""}.fa-level-down:before{content:""}.fa-check-square:before{content:""}.fa-pencil-square:before{content:""}.fa-external-link-square:before{content:""}.fa-share-square:before{content:""}.fa-compass:before{content:""}.fa-toggle-down:before,.fa-caret-square-o-down:before{content:""}.fa-toggle-up:before,.fa-caret-square-o-up:before{content:""}.fa-toggle-right:before,.fa-caret-square-o-right:before{content:""}.fa-euro:before,.fa-eur:before{content:""}.fa-gbp:before{content:""}.fa-dollar:before,.fa-usd:before{content:""}.fa-rupee:before,.fa-inr:before{content:""}.fa-cny:before,.fa-rmb:before,.fa-yen:before,.fa-jpy:before{content:""}.fa-ruble:before,.fa-rouble:before,.fa-rub:before{content:""}.fa-won:before,.fa-krw:before{content:""}.fa-bitcoin:before,.fa-btc:before{content:""}.fa-file:before{content:""}.fa-file-text:before{content:""}.fa-sort-alpha-asc:before{content:""}.fa-sort-alpha-desc:before{content:""}.fa-sort-amount-asc:before{content:""}.fa-sort-amount-desc:before{content:""}.fa-sort-numeric-asc:before{content:""}.fa-sort-numeric-desc:before{content:""}.fa-thumbs-up:before{content:""}.fa-thumbs-down:before{content:""}.fa-youtube-square:before{content:""}.fa-youtube:before{content:""}.fa-xing:before{content:""}.fa-xing-square:before{content:""}.fa-youtube-play:before{content:""}.fa-dropbox:before{content:""}.fa-stack-overflow:before{content:""}.fa-instagram:before{content:""}.fa-flickr:before{content:""}.fa-adn:before{content:""}.fa-bitbucket:before{content:""}.fa-bitbucket-square:before{content:""}.fa-tumblr:before{content:""}.fa-tumblr-square:before{content:""}.fa-long-arrow-down:before{content:""}.fa-long-arrow-up:before{content:""}.fa-long-arrow-left:before{content:""}.fa-long-arrow-right:before{content:""}.fa-apple:before{content:""}.fa-windows:before{content:""}.fa-android:before{content:""}.fa-linux:before{content:""}.fa-dribbble:before{content:""}.fa-skype:before{content:""}.fa-foursquare:before{content:""}.fa-trello:before{content:""}.fa-female:before{content:""}.fa-male:before{content:""}.fa-gittip:before,.fa-gratipay:before{content:""}.fa-sun-o:before{content:""}.fa-moon-o:before{content:""}.fa-archive:before{content:""}.fa-bug:before{content:""}.fa-vk:before{content:""}.fa-weibo:before{content:""}.fa-renren:before{content:""}.fa-pagelines:before{content:""}.fa-stack-exchange:before{content:""}.fa-arrow-circle-o-right:before{content:""}.fa-arrow-circle-o-left:before{content:""}.fa-toggle-left:before,.fa-caret-square-o-left:before{content:""}.fa-dot-circle-o:before{content:""}.fa-wheelchair:before{content:""}.fa-vimeo-square:before{content:""}.fa-turkish-lira:before,.fa-try:before{content:""}.fa-plus-square-o:before{content:""}.fa-space-shuttle:before{content:""}.fa-slack:before{content:""}.fa-envelope-square:before{content:""}.fa-wordpress:before{content:""}.fa-openid:before{content:""}.fa-institution:before,.fa-bank:before,.fa-university:before{content:""}.fa-mortar-board:before,.fa-graduation-cap:before{content:""}.fa-yahoo:before{content:""}.fa-google:before{content:""}.fa-reddit:before{content:""}.fa-reddit-square:before{content:""}.fa-stumbleupon-circle:before{content:""}.fa-stumbleupon:before{content:""}.fa-delicious:before{content:""}.fa-digg:before{content:""}.fa-pied-piper-pp:before{content:""}.fa-pied-piper-alt:before{content:""}.fa-drupal:before{content:""}.fa-joomla:before{content:""}.fa-language:before{content:""}.fa-fax:before{content:""}.fa-building:before{content:""}.fa-child:before{content:""}.fa-paw:before{content:""}.fa-spoon:before{content:""}.fa-cube:before{content:""}.fa-cubes:before{content:""}.fa-behance:before{content:""}.fa-behance-square:before{content:""}.fa-steam:before{content:""}.fa-steam-square:before{content:""}.fa-recycle:before{content:""}.fa-automobile:before,.fa-car:before{content:""}.fa-cab:before,.fa-taxi:before{content:""}.fa-tree:before{content:""}.fa-spotify:before{content:""}.fa-deviantart:before{content:""}.fa-soundcloud:before{content:""}.fa-database:before{content:""}.fa-file-pdf-o:before{content:""}.fa-file-word-o:before{content:""}.fa-file-excel-o:before{content:""}.fa-file-powerpoint-o:before{content:""}.fa-file-photo-o:before,.fa-file-picture-o:before,.fa-file-image-o:before{content:""}.fa-file-zip-o:before,.fa-file-archive-o:before{content:""}.fa-file-sound-o:before,.fa-file-audio-o:before{content:""}.fa-file-movie-o:before,.fa-file-video-o:before{content:""}.fa-file-code-o:before{content:""}.fa-vine:before{content:""}.fa-codepen:before{content:""}.fa-jsfiddle:before{content:""}.fa-life-bouy:before,.fa-life-buoy:before,.fa-life-saver:before,.fa-support:before,.fa-life-ring:before{content:""}.fa-circle-o-notch:before{content:""}.fa-ra:before,.fa-resistance:before,.fa-rebel:before{content:""}.fa-ge:before,.fa-empire:before{content:""}.fa-git-square:before{content:""}.fa-git:before{content:""}.fa-y-combinator-square:before,.fa-yc-square:before,.fa-hacker-news:before{content:""}.fa-tencent-weibo:before{content:""}.fa-qq:before{content:""}.fa-wechat:before,.fa-weixin:before{content:""}.fa-send:before,.fa-paper-plane:before{content:""}.fa-send-o:before,.fa-paper-plane-o:before{content:""}.fa-history:before{content:""}.fa-circle-thin:before{content:""}.fa-header:before{content:""}.fa-paragraph:before{content:""}.fa-sliders:before{content:""}.fa-share-alt:before{content:""}.fa-share-alt-square:before{content:""}.fa-bomb:before{content:""}.fa-soccer-ball-o:before,.fa-futbol-o:before{content:""}.fa-tty:before{content:""}.fa-binoculars:before{content:""}.fa-plug:before{content:""}.fa-slideshare:before{content:""}.fa-twitch:before{content:""}.fa-yelp:before{content:""}.fa-newspaper-o:before{content:""}.fa-wifi:before{content:""}.fa-calculator:before{content:""}.fa-paypal:before{content:""}.fa-google-wallet:before{content:""}.fa-cc-visa:before{content:""}.fa-cc-mastercard:before{content:""}.fa-cc-discover:before{content:""}.fa-cc-amex:before{content:""}.fa-cc-paypal:before{content:""}.fa-cc-stripe:before{content:""}.fa-bell-slash:before{content:""}.fa-bell-slash-o:before{content:""}.fa-trash:before{content:""}.fa-copyright:before{content:""}.fa-at:before{content:""}.fa-eyedropper:before{content:""}.fa-paint-brush:before{content:""}.fa-birthday-cake:before{content:""}.fa-area-chart:before{content:""}.fa-pie-chart:before{content:""}.fa-line-chart:before{content:""}.fa-lastfm:before{content:""}.fa-lastfm-square:before{content:""}.fa-toggle-off:before{content:""}.fa-toggle-on:before{content:""}.fa-bicycle:before{content:""}.fa-bus:before{content:""}.fa-ioxhost:before{content:""}.fa-angellist:before{content:""}.fa-cc:before{content:""}.fa-shekel:before,.fa-sheqel:before,.fa-ils:before{content:""}.fa-meanpath:before{content:""}.fa-buysellads:before{content:""}.fa-connectdevelop:before{content:""}.fa-dashcube:before{content:""}.fa-forumbee:before{content:""}.fa-leanpub:before{content:""}.fa-sellsy:before{content:""}.fa-shirtsinbulk:before{content:""}.fa-simplybuilt:before{content:""}.fa-skyatlas:before{content:""}.fa-cart-plus:before{content:""}.fa-cart-arrow-down:before{content:""}.fa-diamond:before{content:""}.fa-ship:before{content:""}.fa-user-secret:before{content:""}.fa-motorcycle:before{content:""}.fa-street-view:before{content:""}.fa-heartbeat:before{content:""}.fa-venus:before{content:""}.fa-mars:before{content:""}.fa-mercury:before{content:""}.fa-intersex:before,.fa-transgender:before{content:""}.fa-transgender-alt:before{content:""}.fa-venus-double:before{content:""}.fa-mars-double:before{content:""}.fa-venus-mars:before{content:""}.fa-mars-stroke:before{content:""}.fa-mars-stroke-v:before{content:""}.fa-mars-stroke-h:before{content:""}.fa-neuter:before{content:""}.fa-genderless:before{content:""}.fa-facebook-official:before{content:""}.fa-pinterest-p:before{content:""}.fa-whatsapp:before{content:""}.fa-server:before{content:""}.fa-user-plus:before{content:""}.fa-user-times:before{content:""}.fa-hotel:before,.fa-bed:before{content:""}.fa-viacoin:before{content:""}.fa-train:before{content:""}.fa-subway:before{content:""}.fa-medium:before{content:""}.fa-yc:before,.fa-y-combinator:before{content:""}.fa-optin-monster:before{content:""}.fa-opencart:before{content:""}.fa-expeditedssl:before{content:""}.fa-battery-4:before,.fa-battery-full:before{content:""}.fa-battery-3:before,.fa-battery-three-quarters:before{content:""}.fa-battery-2:before,.fa-battery-half:before{content:""}.fa-battery-1:before,.fa-battery-quarter:before{content:""}.fa-battery-0:before,.fa-battery-empty:before{content:""}.fa-mouse-pointer:before{content:""}.fa-i-cursor:before{content:""}.fa-object-group:before{content:""}.fa-object-ungroup:before{content:""}.fa-sticky-note:before{content:""}.fa-sticky-note-o:before{content:""}.fa-cc-jcb:before{content:""}.fa-cc-diners-club:before{content:""}.fa-clone:before{content:""}.fa-balance-scale:before{content:""}.fa-hourglass-o:before{content:""}.fa-hourglass-1:before,.fa-hourglass-start:before{content:""}.fa-hourglass-2:before,.fa-hourglass-half:before{content:""}.fa-hourglass-3:before,.fa-hourglass-end:before{content:""}.fa-hourglass:before{content:""}.fa-hand-grab-o:before,.fa-hand-rock-o:before{content:""}.fa-hand-stop-o:before,.fa-hand-paper-o:before{content:""}.fa-hand-scissors-o:before{content:""}.fa-hand-lizard-o:before{content:""}.fa-hand-spock-o:before{content:""}.fa-hand-pointer-o:before{content:""}.fa-hand-peace-o:before{content:""}.fa-trademark:before{content:""}.fa-registered:before{content:""}.fa-creative-commons:before{content:""}.fa-gg:before{content:""}.fa-gg-circle:before{content:""}.fa-tripadvisor:before{content:""}.fa-odnoklassniki:before{content:""}.fa-odnoklassniki-square:before{content:""}.fa-get-pocket:before{content:""}.fa-wikipedia-w:before{content:""}.fa-safari:before{content:""}.fa-chrome:before{content:""}.fa-firefox:before{content:""}.fa-opera:before{content:""}.fa-internet-explorer:before{content:""}.fa-tv:before,.fa-television:before{content:""}.fa-contao:before{content:""}.fa-500px:before{content:""}.fa-amazon:before{content:""}.fa-calendar-plus-o:before{content:""}.fa-calendar-minus-o:before{content:""}.fa-calendar-times-o:before{content:""}.fa-calendar-check-o:before{content:""}.fa-industry:before{content:""}.fa-map-pin:before{content:""}.fa-map-signs:before{content:""}.fa-map-o:before{content:""}.fa-map:before{content:""}.fa-commenting:before{content:""}.fa-commenting-o:before{content:""}.fa-houzz:before{content:""}.fa-vimeo:before{content:""}.fa-black-tie:before{content:""}.fa-fonticons:before{content:""}.fa-reddit-alien:before{content:""}.fa-edge:before{content:""}.fa-credit-card-alt:before{content:""}.fa-codiepie:before{content:""}.fa-modx:before{content:""}.fa-fort-awesome:before{content:""}.fa-usb:before{content:""}.fa-product-hunt:before{content:""}.fa-mixcloud:before{content:""}.fa-scribd:before{content:""}.fa-pause-circle:before{content:""}.fa-pause-circle-o:before{content:""}.fa-stop-circle:before{content:""}.fa-stop-circle-o:before{content:""}.fa-shopping-bag:before{content:""}.fa-shopping-basket:before{content:""}.fa-hashtag:before{content:""}.fa-bluetooth:before{content:""}.fa-bluetooth-b:before{content:""}.fa-percent:before{content:""}.fa-gitlab:before{content:""}.fa-wpbeginner:before{content:""}.fa-wpforms:before{content:""}.fa-envira:before{content:""}.fa-universal-access:before{content:""}.fa-wheelchair-alt:before{content:""}.fa-question-circle-o:before{content:""}.fa-blind:before{content:""}.fa-audio-description:before{content:""}.fa-volume-control-phone:before{content:""}.fa-braille:before{content:""}.fa-assistive-listening-systems:before{content:""}.fa-asl-interpreting:before,.fa-american-sign-language-interpreting:before{content:""}.fa-deafness:before,.fa-hard-of-hearing:before,.fa-deaf:before{content:""}.fa-glide:before{content:""}.fa-glide-g:before{content:""}.fa-signing:before,.fa-sign-language:before{content:""}.fa-low-vision:before{content:""}.fa-viadeo:before{content:""}.fa-viadeo-square:before{content:""}.fa-snapchat:before{content:""}.fa-snapchat-ghost:before{content:""}.fa-snapchat-square:before{content:""}.fa-pied-piper:before{content:""}.fa-first-order:before{content:""}.fa-yoast:before{content:""}.fa-themeisle:before{content:""}.fa-google-plus-circle:before,.fa-google-plus-official:before{content:""}.fa-fa:before,.fa-font-awesome:before{content:""}.sr-only{position:absolute;width:1px;height:1px;padding:0;margin:-1px;overflow:hidden;clip:rect(0, 0, 0, 0);border:0}.sr-only-focusable:active,.sr-only-focusable:focus{position:static;width:auto;height:auto;margin:0;overflow:visible;clip:auto}.print-only{display:none !important}@media print{*{background:transparent !important;color:black !important;box-shadow:none !important;text-shadow:none !important}a,a:visited{text-decoration:underline}a[href]:after{content:" (" attr(href) ")"}abbr[title]:after{content:" (" attr(title) ")"}a:after,a[href^="javascript:"]:after,a[href^="#"]:after{content:""}pre,blockquote{border:1px solid #999999;page-break-inside:avoid}thead{display:table-header-group}tr,img{page-break-inside:avoid}img{max-width:100% !important}@page{margin:0.5cm}p,h2,h3{orphans:3;widows:3}h2,h3{page-break-after:avoid}.hide-on-print{display:none !important}.print-only{display:block !important}.hide-for-print{display:none !important}.show-for-print{display:inherit !important}}
