
// - Config - //

// Versions
$framework-version: 1 !global;
$vendVer-fontawesome: 4.6.3;
$vendVer-susy: 2.2.12;

// All Variabels that are set here will override the defaults that are set in each relevant module file

// ------ FONTS ------ //

$base-font-size: 75%; // 12px
$rem-base: 12; // 12px
$font-size-para: 15;

$font-family-client-primary: "museo-slab",serif;
$font-family-client-secondary: "rift",sans-serif;

$font-family-client: $font-family-client-primary; // Change as per requirements - Defaults to San-Serif

$font-family-h1: $font-family-client-secondary;
$font-family-h2: $font-family-client-secondary;
$font-family-h3: $font-family-client-secondary;
$font-family-h4: $font-family-client-secondary;
$font-family-h5: $font-family-client-secondary;
$font-family-h6: $font-family-client-secondary;
$font-family-paragraph: "museo-slab",serif;

$font-weight-h1: 900;
$font-weight-h2: 800;
$font-weight-h3: 600;
$font-weight-h4: 600;
$font-weight-h5: 600;
$font-weight-h6: 600;
$font-weight-paragraph: 500;

// ------ BREAKPOINTS ------ //

// Mobile first Breakpoints
$highres: 1920px;
$desktop: 1200px;
$laptop: 980px;
$tablet: 768px;
$phablet: 480px;
$mobile: 480px;

// Desktop first Breakpoints
$highresOnly: max-width $highres - 1px;
$desktopOnly: max-width $desktop - 1px;
$laptopOnly: max-width $laptop - 1px;
$tabletOnly: max-width $tablet - 1px;
$phabletOnly: max-width $phablet - 1px;
$mobileOnly: max-width $mobile - 1px;

// Custom

$mobile-menu: max-width 1099px;

// ------ Colours ------ //

// Base Colours
$color-primary: #080808;
$color-accent: #37a6b1;
$color-accent-hover: #31959f;
$color-shade: #9b9b9b;
$color-shade-light: #efefef;
$color-invert: #fff;
$color-title: #232323;

// Backgrounds
$color-background: #fff;

// Heading
$color-heading: $color-primary;

// Text
$color-text: $color-primary;

// Code
$color-code: #333;

// Selection Highlight
$color-highlight: $color-text;

// Borders
$color-border: #c1c1c1;

// Buttons
$color-button: $color-accent;

//Social
$facebook: #3b5998;
$twitter: #00aced;
$instagram: #125688;
$linkedin: #007bb5;
$google-plus: #dd4b39;
$youtube: #bb0000;
