
// - ANIMATIONS - //

// Fade In Adnimation
// useful for fading in elements on page load,
// can also be added  via jQuery when they appear in viewport on scroll

.animate-fadein {
    animation: fadein 1.5s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}