
// - BUTTONS - //

.btn {
    width: auto;
    display: inline-block;
    @include rem(min-height, 12px);
    @include rem(padding, 10px);
    @include rem(margin-bottom, 4px);
    color: $color-primary;
    background-color: $color-button;
    box-shadow: 0 0 0 1px transparent inset,
                0 0 0 0 rgba(68,68,68,.15) inset;
    text-align: center;
    line-height: 1;
    cursor: pointer;
    user-select: none;
    -webkit-appearance: none;
    transition: color .1s ease,
                background-color .1s ease,
                box-shadow .1s ease,
                background .1s ease;

    &:hover,
    &:focus {
        color: lighten($color-primary, 100%);
        background-color: darken($color-button, 25%);
    }

    &:active,
    &.active {
        background-color: darken($color-button, 50%);
        box-shadow: 0 0 0 1px transparent inset,
                    0 0 0 1px rgba(68,68,68,.5) inset;
    }

    &.fluid {
        display: block;
        width: 100%;
    }

    &.disabled {
        cursor: not-allowed;
        pointer-events: none;
        opacity: 0.45;
    }

    &.circular {
        line-height: 1;
        border-radius: 50%;

        & > span {
            width: 1em;
            opacity: 0.9
        }
    }

    &.rounded {
        @include rem(border-radius, 2px);
    }

    &.icon > .fa {
        @include rem(margin-right, 5px);

        &.pull-right {
            margin-right: 0;
        }
    }

    &.outline {
        background: none;
        @include rem(border-width, 1px);
        border-style: solid;
        border-color: $color-primary;

        &:hover,
        &:focus {
            background-color: darken($color-button, 25%);
            border-color: darken($color-button, 25%);
            color: lighten($color-primary, 100%);
        }

        &:active {
            box-shadow: none;
            background-color: darken($color-button, 50%);
            border-color: darken($color-button, 50%);
        }
    }

    &.social {
        color: #fff;

        &.facebook {
            background-color: $facebook;

            &:hover,
            &:focus {
                background-color: lighten($facebook, 10%);
            }

            &:active {
                background-color: lighten($facebook, 5%);
            }
        }

        &.twitter {
            background-color: $twitter;

            &:hover,
            &:focus {
                background-color: lighten($twitter, 10%);
            }

            &:active {
                background-color: lighten($twitter, 5%);
            }
        }

        &.instagram {
            background-color: $instagram;

            &:hover,
            &:focus {
                background-color: lighten($instagram, 10%);
            }

            &:active {
                background-color: lighten($instagram, 5%);
            }
        }

        &.google-plus {
            background-color: $google-plus;

            &:hover,
            &:focus {
                background-color: lighten($google-plus, 10%);
            }

            &:active {
                background-color: lighten($google-plus, 5%);
            }
        }

        &.linkedin {
            background-color: $linkedin;

            &:hover,
            &:focus {
                background-color: lighten($linkedin, 10%);
            }

            &:active {
                background-color: lighten($linkedin, 5%);
            }
        }

        &.youtube {
            background-color: $youtube;

            &:hover,
            &:focus {
                background-color: lighten($youtube, 10%);
            }

            &:active {
                background-color: lighten($youtube, 5%);
            }
        }
    }
}

// Fix for spacing with inline block
.btn-group {
    display: inline-block;
    font-size: 0;

    & > .btn {
        @include fontSize($rem-base);
        margin-bottom: 0;
    }

    &.rounded > .btn {

        &:first-child {
            @include rem(border-top-left-radius, 2px);
            @include rem(border-bottom-left-radius, 2px);
        }

        &:last-child {
            @include rem(border-top-right-radius, 2px);
            @include rem(border-bottom-right-radius, 2px);
        }
    }

    &.vertical > .btn {
        display: block;
        width: 100%;
    }

    &.vertical.rounded > .btn {

        &:first-child {
            @include rem(border-top-left-radius, 2px);
            @include rem(border-top-right-radius, 2px);
            border-bottom-left-radius: 0;
        }

        &:last-child {
            @include rem(border-bottom-left-radius, 2px);
            @include rem(border-bottom-right-radius, 2px);
            border-top-right-radius: 0;
        }
    }
}