
// - LOADERS - //

.loader-bg {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: $color-background;
    z-index: 999;
}

.loader {
    @include fontSize(48);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.spinner {
    position: relative;

    &:before,
    &:after {
        content: "";
        position: relative;
        display: block;
    }
    &:before {
        animation: spinner 2.5s cubic-bezier(0.75, 0, 0.5, 1) infinite normal;
        @include rem(width, 12px);
        @include rem(height, 12px);
        background-color: #202020;
    }
    &:after {
        animation: shadow 2.5s cubic-bezier(0.75, 0, 0.5, 1) infinite normal;
        @include rem(height, -6px);
        @include rem(height, 3px);
        border-radius: 50%;
        background-color: $color-background-shade;
    }
}

@keyframes spinner {
  50% {
    border-radius: 50%;
    transform: scale(0.5) rotate(360deg);
  }
  100% {
    transform: scale(1) rotate(720deg);
  }
}

@keyframes shadow {
  50% {
    transform: scale(0.5);
    background-color: $color-background-shade;
  }
}