
// - MODALS - //

.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    visibility: hidden;
    z-index: 100;

    &-inner {
        @include rem(max-width, 900px);
        margin: 0 auto;
        position: absolute;
        top: 50%;
        right: 0;
        left: 0;
        transform: translateY(-50%);
        background-color: #cacaca;

        @include breakpoint($tabletOnly) {
            width: 95%;
        }
    }

    & .fa-close {
        position: absolute;
        top: 0;
        right: 0;
        padding: 2%;
        transition: background-color 0.1s ease-in;
        cursor: pointer;
        z-index: 200;

        &:hover,
        &:focus {
            background-color: rgba($color-accent, 0.4);
        }
    }

    & .modal-img {

        @include breakpoint($tabletOnly) {
            display: none;
        }

        & img {
            width: 100%;
            display: block;
        }
    }

    & .modal-content {
        padding: 5%;

        & h4 {
            @include fontSize(28);
            margin-bottom: 2%;
            color: $color-background;
        }

        & label {
            display: none;
        }

        & input.block-r {
            margin-left: 0;
            margin-right: 0;
        }

        & input {

            @include breakpoint($tabletOnly) {
                width: 100%;
            }

            &.outline {
                color: $color-background;
                border-color: $color-background;
            }

            &.btn {
                @include rem(margin-top, 5px);
                display: block;
                margin-right: 0;
                margin-left: auto;
            }
        }
    }
}
