
// - FORMS - //

fieldset,
form {
    display: block;
    width: 100%;

    .form-group {
        display: block;
        @include rem(margin-bottom, 22px);
    }
}

fieldset {
    @include rem(padding, 10px 20px);
    @include rem(margin-bottom, 20px);
    @include border-width(1);
    @include border-style(solid);
    @include border-color($color-border);

    &:only-child {
       margin-bottom: 0;
    }

    &[disabled],
    &[disabled] * {
        cursor: not-allowed;
        opacity: 0.6;
        background-color: #F9F9F9;
    }

    & legend,
    &[disabled] legend {
        background-color: transparent;
    }
}

// Text Inputs
input,
select,
textarea {
    display: block;
    font-family: inherit;
    position: relative;
    max-width: 100%;
    @include rem(padding, 10px);
    @include rem(margin-bottom, 24px);
    border: none;
    border-radius: 0;
    outline: none;
    vertical-align: top;
    color: $color-primary;
    background-color: $color-background;

    &[disabled],
    &[readonly] {
        cursor: not-allowed;
        background-color: #F9F9F9;
    }

    &[readonly] {
        cursor: auto;
    }

    .input-border & {
        @include border-width(1);
        @include border-style(solid);
        @include border-color($color-border);

        &:focus {
            @include border-color($color-border-darken);
        }
    }

    .rounded & {
        @include rem(border-radius, 2px);
    }

    &.fluid,
    .fluid & {
        width: 100%;
    }

    .input-raised & {
        box-shadow: 1px 1px 2px $shadow;
    }
    // Input place holder colour
    &::-webkit-input-placeholder {
        color: lighten($color-primary, 50%);
    }

    &:-moz-placeholder {
        color: lighten($color-primary, 50%);
    }

    &::-moz-placeholder {
        color: lighten($color-primary, 50%);
    }

    &:-ms-input-placeholder {
        color: lighten($color-primary, 50%);
    }
}
// Input place holder color change on focus
input:focus,
select:focus,
textarea:focus {
    &::-webkit-input-placeholder {
        color: $color-primary;
    }
    //Firefox 18-
    &:-moz-placeholder {
        color: $color-primary;
    }
    // Firefox 19+
    &::-moz-placeholder {
        color: $color-primary;
    }

    &:-ms-input-placeholder {
        color: $color-primary;
    }
}

.input-raised input[type="range"] {
    box-shadow: none;
}

// Remove Chrome Yellow Autocomplete
body input:-webkit-autofill,
body input:-webkit-autofill:focus  {
    -webkit-box-shadow: 0 0 0 50px $color-background inset;
    -webkit-text-fill-color: $color-primary;
}

textarea {
    height: auto;
    max-width: 100%;
    resize: vertical;
    @include rem(min-height, 100px);
}

// Input Color
.input-border,
.input-raised {
    input[type="color"] {
        @include rem(min-height, 40px);
        padding: 0;
        border: 0;
    }
}

// Input File
::-webkit-file-upload-button {
    background-color: $color-button;
    color: $color-primary;
    @include rem(padding, 10px);
    border: none;
    outline: none;
}

input[type="file"] {
    padding: 0;
}

// Input Range
input[type="range"] {
    padding: 0;
    margin-left: 0;
    margin-right: 0;
}

// Input buttons full width
input[type="submit"].fluid,
input[type="button"].fluid {
    display: block;
    width: 100%;
}

// Select
select {
    -webkit-appearance: none;
       -moz-appearance: none;
    background: url("img/util/select-icon-border.png") no-repeat scroll right center;
    @include rem(padding-right, 21px);

    &[multiple],
    &[size] {
        background: none;
        padding: 0;
        height: auto;

        & option {
            @include rem(padding, 5px 10px);
        }
    }

    &::-ms-expand {
        display: none;
    }
}

// Inline Lists
input[type="checkbox"],
input[type="radio"] {
    display: inline;
    width: auto;
    width: initial;
    margin-bottom: 0;
    vertical-align: sub;

    & + label {
        display: inline;
        @include rem(margin, 0 5px 0 2px);
    }
}

// Stacked Lists
.vertical-list div,
.vertical-list span {
    width: 100%;
    display: block;
}

// Input Labels
label {
    display: block;
    margin-bottom: 0;

    &.right {
        float: none !important;
        text-align: right;
    }
}
