
// - GLOBAL - //

// Box Model
*,
*:before,
*:after {
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
    height: 100vh;
    font-family: $font-family-sans-serif;
    font-size: $base-font-size;
    -webkit-tap-highlight-color: transparent;
    text-size-adjust: 100%;
}

body {
    width: 100%;
    min-height: 100%;
    min-height: 100vh;
    position: relative;
    background-color: $color-background;
    color: $color-text;
    @include fontSize(12);
    @include lineHeight(12);
    font-family: $font-family-client;
    font-weight: $font-weight-regular;
    font-style: normal;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: subpixel-antialiased;
       -moz-font-smoothing: subpixel-antialiased;
            font-smoothing: subpixel-antialiased;
    cursor: auto;
}

// Scroll Bar
::-webkit-scrollbar {
    @include rem(width, 8px);  // vertical scrollbars
    @include rem(height, 8px); // horizontal scrollbars
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.5);
}
