
// - GRID - //

// Clearfix - Stops Box model collapsing when has floated child elements
.cf {
    @include clearfix;
}

.container {
    @include container(12 center);

    .text {
      @include rem(max-width, 700px);
    }
}

// Segments - a grouping of related content
.segment {
  position: relative;
  background: #fff;
  @include rem(margin, 12px 0);
  @include rem(padding, 12px);

  &.border {
    @include border-width(1);
    @include border-style(solid);
    @include border-color($color-border);
  }

  &.raised {
    box-shadow: 1px 1px 2px $shadow;
  }

  &.rounded {
    @include rem(border-radius, 2px);
    background-clip: padding-box;
  }
}

// The Grid is implemented using SUSY
// Documentation on how to modify SUSY can be found here
// http://susydocs.oddbird.net/en/latest/

// Below is a base grid framework
// If using a preproposser susy can be used to build additional layouts

// Percentage Based Grid

// Single Column below $tablet breakpoint
[class*='grid-'] {
    position: relative;
    min-height: 1px;
    margin: 0;

    @include breakpoint($tabletOnly) {
        &:not([class*='-ng']) {
            margin-bottom: gutter($grid-columns);
        }
    }

    // Collapse the column at the selected breakpoint when class is added.
    @include breakpoint($tabletOnly) {
      .collapse > & {
        width: 100%;
      }
    }
}

//@include breakpoint($tablet) {
    @for $i from 1 through 12 {
            .#{$grid-slug}-#{$i} {
                @include span($i of $grid-columns);

            &:last-of-type {
                @include last;
                //@include span($i of $grid-columns last);
            }

            &-ng {
                @include span($i of $grid-columns (0));
            }
        }
    }
//}

//Flexbox based grid

// Row wrapper class, flex box parent.
.container-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  @include fg-spacing( ( -$fg-gutter ), margin, horizontal );
}

%fg-grid {
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  @include fg-spacing( ( $fg-gutter ), padding, horizontal );
}

%grid-flex {
  @extend %fg-grid;
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
}

// Build the grid in two steps, to help minimize file size
// Step 1, for each namespace, create the grid-base
// Step 2, for each namespace, wrap the col width/offset measurements in their breakpoint media query

@each $val in $fg-breakpoints {
  $namespace: nth($val, 1);
  @include grid-base( $namespace );
}

@each $val in $fg-breakpoints {
  @if length($val) == 1 {

    $namespace: nth($val, 1);
    @include grid-sizes( $namespace );

  } @else {

    $namespace: nth($val, 1);
    $size: nth($val, 2);

    @media only screen and (min-width: #{$size}) {
      @include grid-sizes( $namespace );
    }
  }
}