
// - MEDIA - //

// IMAGES

img,
figure,
svg {
    max-width: 100%; // Make Images Responsive
    height: auto;
    position: relative;
    display: inline-block;
    background-color: transparent;
    -ms-interpolation-mode: bicubic;

    &.fluid {
        width: 100%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    &.rounded {
        @include rem(border-radius, 2px);
        background-clip: padding-box;
    }

    &.circle {
        border-radius: 50%;
    }
}

figcaption {
    font-family: $font-family-serif;
}

// Image Replacement - Remains visible to screen readers
.visually-hidden {
    position: absolute;
    height: 1px;
    width: 1px;
    border: 0;
    clip: rect(0 0 0 0);
    margin: -1px;
    padding: 0;
    overflow: hidden;
}

// VIDEO

.fluid-video {
    position: relative;
    height: 0;
    overflow: hidden;
    @include rem (padding-top, 25px);
    padding-bottom: 67.5%;

    &.widescreen {
        padding-bottom: 56.25%;
    }

    &.vimeo {
        padding-top: 0;
    }

    & iframe,
    & object,
    & embed,
    & video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 0;
    }
}
