
// - POSITIONING - //

// Responsive Centring
.centred-axis {
    position: absolute;
    // Horizontal Centre
    &-x {
        @extend .centred-axis;
        left: 50%;
        transform: translate(-50%, 0);
    }
    // Vertical Centre
    &-y {
        @extend .centred-axis;
        top: 50%;
        transform: translateY(-50%);
    }
    // Horizontal + Vertical Centre
    &-xy {
        @extend .centred-axis;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
}

.flex-center {
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.centred {
    display: block;
    margin: auto;
}

// Floats
.float-l {
    float: left;
}

.float-r {
    float: right;
}

.float-n {
    float: none;
}

.float-fluid {
    display: table-cell;
    width: auto;
}

.clear-r {
    clear: right;
}

.clear-l {
    clear: left;
}

.clear-b {
    clear: both;
}

// Containers
.cont {
    display: block;

    &-rel {
        @extend .cont;
        position: relative;
    }

    &-abs {
        @extend .cont;
        position: absolute;
    }

    &-fix {
        @extend .cont;
        position: fixed;
    }

}

//Vertical Spacing - Based on Base Line Height
.v-spacing {
    @include rem(margin-bottom, 22px);
}

// Width
.w {

    &-100 {
        width: 100%;
    }

    &-75 {
        width: 75%;
    }

    &-50 {
        width: 50%;
    }

    &-25 {
        width: 25%;
    }
}

// Height
.h {

    &-100 {
        height: 100%;
    }

    &-75 {
        height: 75%;
    }

    &-50 {
        height: 50%;
    }

    &-25 {
        height: 25%;
    }
}

// Rotate

.rotate {
    display: inline-block;
    width: auto;

    &-90 {
        filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
        transform: rotate(90deg);
    }

    &-180 {
        filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
        transform: rotate(180deg);
    }

    &-270 {
        filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
        transform: rotate(270deg);
    }
}

.flip-horizontal {
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0);
    transform: scale(-1, 1);
}

.flip-vertical {
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
    transform: scale(1, -1);
}

:root .rotate-90,
:root .rotate-180,
:root .rotate-270,
:root .flip-horizontal,
:root .flip-vertical {
    -webkit-filter: none;
          filter: none;
}
