
// - TABLES - //

table {
    width: 100%;
    max-width: 100%;
    background: $color-background;
    @include rem (margin-bottom, 22px);
    @include border-width(1);
    @include border-style(solid);
    @include border-color($color-border);
    border-spacing: 0;
    border-collapse: collapse;
    table-layout: auto;
}

table caption {
    background: transparent;
    @include fontSize(12);
    font-weight: $font-weight-bold;
}

table thead {
    background: #f5f5f5;
}

table tbody tr th {
    font-weight: $font-weight-bold;
}

table thead tr th,
table thead tr td,
table tfoot tr th,
table tfoot tr td {
    @include rem (padding, 5px 6px 6px);
    @include fontSize(10);
    font-weight: $font-weight-bold;
}

table tfoot {
    background: #f5f5f5;
}

table tr th,
table tr td {
    @include rem (padding, 5px 6px);
    @include fontSize(10);
    text-align: left;
    white-space: pre;
}

table tr.even,
table tr.alt,
table.striped tr:nth-of-type(even) {
    background: #f9f9f9;
}

table thead tr th,
table tfoot tr th,
table tfoot tr td,
table tbody tr th,
table tbody tr td,
table tr td {
    display: table-cell;
}

.table-responsive {
    min-height: .01%;
    overflow-x: auto;

    @include breakpoint($tabletOnly) {
            width:100%;
            @include rem(margin-bottom, 22px);
            overflow-y: hidden;
            -ms-overflow-style: -ms-autohiding-scrollbar;
            @include border-width(1);
            @include border-style(solid);
            @include border-color($color-border);

        & table {
            border: none
        }

        &>table {
            margin-bottom: 0
        }

        &>table>tbody>tr>td,
        &>table>tbody>tr>th,
        &>table>thead>tr>td,
        &>table>thead>tr>th,
        &>table>tfoot>tr>td,
        &>table>tfoot>tr>th {
            white-space: nowrap
        }
    }
}