
// - TYPOGRAPHY - //

::selection {
    background: $color-highlight;
    color: #fff;
}

// Headings
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
    color: $color-heading;
    display: block;
    @include rem(padding-top, 4px);
    font-feature-settings: 'dlig' 1, 'liga' 1, 'lnum' 1, 'kern' 1;
}

h1,
.h1,
h2,
.h2,
h3,
.h3, {

    & span.sub-header {
        display: block;
        color: lighten($color-heading, 25%);
        font-size: 70%;
        font-weight: 400;
        line-height: 1;
    }
}

h1,
.h1 {
    font-family: $font-family-h1;
    font-weight: $font-weight-h1;
    @include fontSize(21);

    @include breakpoint($phablet) {
        @include fontSize(24);
    }
}

h2,
.h2 {
    font-family: $font-family-h2;
    font-weight: $font-weight-h2;
    @include fontSize(18);

    @include breakpoint($phablet) {
        @include fontSize(21);
    }
}

h3,
.h3 {
    font-family: $font-family-h3;
    font-weight: $font-weight-h3;
    @include fontSize(16);

    @include breakpoint($phablet) {
        @include fontSize(18);
    }
}

h4,
.h4 {
    font-family: $font-family-h4;
    font-weight: $font-weight-h4;
    @include fontSize(14);

    @include breakpoint($phablet) {
        @include fontSize(16);
   }
}

h5,
.h5 {
    font-family: $font-family-h5;
    font-weight: $font-weight-h5;
    @include fontSize(12);

    @include breakpoint($phablet) {
        @include fontSize(14);
    }
}

h6,
.h6 {
    font-family: $font-family-h6;
    font-weight: $font-weight-h6;
    @include fontSize(10);

    @include breakpoint($phablet) {
        @include fontSize(12);
    }
}

// Body
p {
    font-family: $font-family-paragraph;
    font-weight: $font-weight-paragraph;
    @include fontSize($font-size-para);
    @include rem(margin-bottom, 20px);
    @include rem(padding-top, 4px);
    font-feature-settings: 'kern' 1, 'liga' 1;

    &.justify {
        text-align: justify;
    }

    &:only-child,
    &:last-child {
        margin: 0;
        padding: 0;
    }
}

small,
.caption {
    font-size: 80%;
}

em,
i,
.italic {
    font-style: $font-style-italic;
}

strong,
b,
.bold {
    font-weight: $font-weight-bold;
}

// Links
a {
    color: $color-text-link;
    text-decoration: none;
    transition: color .1s, background-color .1s;

    &:hover,
    &:focus,
    &:active {
        color: $color-text-link-hover;
        outline: none;
    }

    & img {
        border: none;
    }

    // Cleaner Text Link Underline - Does not work in Safari
    &.underline,
    .underline p &,
    .underline li & {
        background-image: linear-gradient(to bottom,rgba(0, 0, 0, 0) 50%,lighten($color-text-link,20%) 50%);
        background-position: 0 93%;
        background-repeat: repeat-x;
        background-size: 100% 0.15rem;
        text-shadow: 0.1rem 0 $color-background,0.15rem 0 $color-background,-0.1rem 0 $color-background,-0.15rem 0 $color-background;
    }
    &.underline:hover,
    &.underline:focus,
    .underline p &:hover,
    .underline p &:focus,
    .underline li &:hover,
    .underline li &:focus {
        background-image: linear-gradient(to bottom,rgba(0, 0, 0, 0) 50%,lighten($color-text-link-hover,20%) 50%);
    }
}

ins {
    text-decoration: underline;
}

del,
.del,
s,
strike {
    text-decoration: line-through;
}

hr {
    border: 0;
    margin: 0;
    clear: both;
    @include rem(padding, 12px 0);
    background-position: 0 50%;
    background-repeat: repeat-x;
    background-size: 100% 0.15rem;
    background-image: linear-gradient(to left, $color-border-lighten, $color-border, $color-border-lighten);

    &.solid {
        background-image: linear-gradient(to left, $color-border, $color-border, $color-border);
    }
}

code,
pre {
    font-family: $font-family-code;
    color: $color-code;
    background-color: $color-background-shade;
    @include border-width(1);
    @include border-style(solid);
    @include border-color($color-border);
    @include rem(padding, 3px 7px);
}

pre {
    display: block;
    @include rem(margin, 0 0 10px);
    word-break: break-all;
    word-wrap: break-word;

    & code {
        padding: 0;
        white-space: pre-wrap;
    }
}

.pre-scrollable {
    @include rem(max-height, 350px);
    overflow-y: scroll;
}

kbd,
.keystroke {
    color: $color-text;
    font-family: $font-family-code;
    font-size: inherit;
    @include rem(padding, 2px 3px);
    margin: 0;
    background-color: #ededed;
    border-color: #dddddd;
    @include border-radius(3);
    @include rem(box-shadow, 0 -1px 0 $color-background-shade);

    & & {
        font-weight: $font-weight-bold;
        padding: 0;
        box-shadow: none;
    }
}

// Blockquotes
blockquote {
    @include rem(margin, 12px);
    @include rem(padding, 6px 8px);
    @include border-left-width(2);
    @include border-left-style(solid);
    @include border-left-color($color-border);

    &.blockquote-reverse {
        border-left: none;
        @include border-right-width(2);
        @include border-right-style(solid);
        @include border-right-color($color-border);
        text-align: right;

        & cite:before {
            content: "";
        }

        & cite:after {
            content: "\0020 \2014";
        }
    }

    & cite {
        display: block;
        @include fontSize(10);
        color: $color-text-weak;
        font-style: $font-style-normal;

        &:before {
            content: "\2014 \0020";
        }

        a,
        a:visited {
            color: $color-text-link;
        }
    }

    & p {
        @include fontSize(14);
        color: $color-accent;
        font-style: $font-style-italic;
    }

    & p:last-child,
    & p:last-of-type,
    & ul:last-child,
    & ul:last-of-type,
    & ol:last-child,
    & ol:last-of-type {
        margin-bottom: 0;
    }
}

cite {
    @include fontSize(10);
    color: $color-text-weak;
}

// Abbreviations
abbr,
acronym {
    text-transform: uppercase;
    font-size: 90%;
    color: #222222;
    cursor: help; }

abbr,
.abbr {
    text-transform: none;

    & [title],
    & [data-original-title] {
        border-bottom: 1px dotted #dddddd;
    }
}

mark,
.mark {
    color: $color-primary;
    background-color: $color-background-shade;
}

// Font Style Modifiers
.hollow { // Does not work in IE
    color: $color-text;
    -webkit-text-fill-color: $color-text;
    @include rem(-webkit-text-stroke-width, 1px);
    -webkit-text-stroke-color: $color-background;
}

.capitals {
    text-transform: uppercase;
    @include rem(letter-spacing, 1.2px);
}

.small-caps {
    text-transform: uppercase;
    font-size: 95%;
    @include rem(letter-spacing, 1.2px);
    font-feature-settings: 'smcp' 1, 'kern' 1;
}

.xxlarge {
    @include fontSize(42);
}

.text-nowrap {
    white-space: nowrap;
}

// Text Transform
.text-lowercase {
    text-transform: lowercase;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-capitalize {
    text-transform: capitalize;
}

.text-normal {
    text-transform: none;
}

// Text Vetical Alignment
.text-top {
    vertical-align: top;
}

.text-middle {
    vertical-align: middle;
}

.text-bottom {
    vertical-align: bottom;
}

// Alignment
.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.text-justify {
    text-align: justify;
}

.text-hcenter {
    // width is required
    margin-left:auto !important;
    margin-right:auto !important
}

// Lists
ul,
ol,
dl {
    @include fontSize(12);
    @include rem(margin-bottom, 14px);
    list-style-position: outside;
    font-family: inherit;

    & li {
        font-feature-settings: 'kern' 1, 'liga' 1;
    }

    &.icons {
        margin-left: 0;

        & > li {
            list-style: none;
        }

        & > li > span {
            @include rem(margin-right, 5px);
        }
    }
}

ul {
    @include rem(margin-left, 18px);
    list-style-type: disc;

    &.square {
        list-style-type: square;
    }

    &.circle {
        list-style-type: circle;
    }

    &.disc {
        list-style-type: disc;
    }

    &.square li ul,
    &.circle li ul,
    &.disc li ul {
        list-style: inherit;
    }

    &.no-bullet {
        list-style: none;
        margin-left: 0;
    }

    &.no-bullet li ul,
    &.no-bullet li ol {
        margin-bottom: 0;
        list-style: none;
    }

    // Unordered Lists
    & li ul,
    & li ol {
        @include rem(margin-left, 18px);
        margin-bottom: 0;
    }

    & li ul {
        list-style: square;
    }

    & li ol {
        list-style: decimal;
    }

    & li ul li ul {
        list-style: circle;
    }

    &.inline-list {
        list-style: none;
        margin-top: 0;
        @include rem(margin, 0 0 11px -16px);
        overflow: hidden;
        padding: 0;
    }

    &.inline-list > li {
        display: inline-block;
        //float: left;
        list-style: none;
        @include rem(margin-left, 16px);
    }
}

// Ordered Lists
ol {
    @include rem(margin-left, 18px);
    list-style-type: decimal;

    & li ul,
    & li ol {
        @include rem(margin-left, 18px);
        margin-bottom: 0;
    }

    & li ol {
        list-style: lower-latin;
    }

    & li ul {
        list-style: disc;
    }

    & li ol li ol {
        list-style: lower-roman;
    }
}

// Definition Lists
dl {

    & dt {
        @include rem(margin-bottom, 4px);
        font-weight: bold;
    }

    & dd {
        @include rem(margin-bottom, 10px);
    }
}
