
// - BORDERS - //

// ------ Border Width ------ //

@mixin border-width ($border-width) {
    border-width: $border-width + px;
    border-width: ($border-width / $rem-base) + rem;
}

// Border Widths Individual
@mixin border-top-width ($border-top-width) {
    border-top-width: $border-top-width + px;
    border-top-width: ($border-top-width / $rem-base) + rem;
}

@mixin border-bottom-width ($border-bottom-width) {
    border-bottom-width: $border-bottom-width + px;
    border-bottom-width: ($border-bottom-width / $rem-base) + rem;
}

@mixin border-left-width ($border-left-width) {
    border-left-width: $border-left-width + px;
    border-left-width: ($border-left-width / $rem-base) + rem;
}

@mixin border-right-width ($border-right-width) {
    border-right-width: $border-right-width + px;
    border-right-width: ($border-right-width / $rem-base) + rem;
}

// ------ Border Style ------ //

@mixin border-style ($border-style) {
    border-style: $border-style;
}

// Border Style Individual
@mixin border-top-style ($border-top-style) {
    border-top-style: $border-top-style;
}

@mixin border-bottom-style ($border-bottom-style) {
    border-bottom-style: $border-bottom-style;
}

@mixin border-left-style ($border-left-style) {
    border-left-style: $border-left-style;
}

@mixin border-right-style ($border-right-style) {
    border-right-style: $border-right-style;
}

// ------ Border Colors------ //

@mixin border-color ($border-color) {
    border-color: $border-color;
}

// Border Colour Individual
@mixin border-top-color ($border-top-color) {
    border-top-color: $border-top-color;
}

@mixin border-bottom-color ($border-bottom-color) {
    border-bottom-color: $border-bottom-color;
}

@mixin border-left-color ($border-left-color) {
    border-left-color: $border-left-color;
}

@mixin border-right-color ($border-right-color) {
    border-right-color: $border-right-color;
}

// ------ Border Radius ------ //

@mixin border-radius($border-radius) {
  border-radius: $border-radius + px;
  background-clip: padding-box;  // stops bg color from leaking outside the border
}

// Single side border-radius
@mixin border-top-radius($border-radius) {
    border-top-right-radius: $border-radius + px;
    border-top-left-radius: $border-radius + px;
    background-clip: padding-box;
}
@mixin border-right-radius($border-radius) {
    border-bottom-right-radius: $border-radius + px;
    border-top-right-radius: $border-radius + px;
    background-clip: padding-box;
}
@mixin border-bottom-radius($border-radius) {
    border-bottom-right-radius: $border-radius + px;
    border-bottom-left-radius: $border-radius + px;
    background-clip: padding-box;
}
@mixin border-left-radius($border-radius) {
    border-bottom-left-radius: $border-radius + px;
    border-top-left-radius: $border-radius + px;
    background-clip: padding-box;
}