
// - RESPONSIVE BREAKPOINTS - //

// Breakpoints are handled by vendor Breakpoint
// https://github.com/at-import/breakpoint/wiki/

// Breakpoint : vendor - Configuration
@include breakpoint-set('to ems', true); // Auto Convert px to EM for all @media

// EMS based on base font size changed to 12px
// min-width break points focus on mobile first approach
// Styles are added as the width increases

// Mobile first Breakpoints
$highres: 1920px !default;
$desktop: 1200px !default;
$laptop: 980px !default;
$tablet: 768px !default;
$phablet: 480px !default;
$mobile: 480px !default;

// Desktop first Breakpoints
$highresOnly: max-width $highres - 1px !default;
$desktopOnly: max-width $desktop - 1px !default;
$laptopOnly: max-width $laptop - 1px !default;
$tabletOnly: max-width $tablet - 1px !default;
$phabletOnly: max-width $phablet - 1px !default;
$mobileOnly: max-width $mobile - 1px !default;

// Breakpoint Format
$brk-print: 'print';
$brk-screen: 'screen';

// Breakpoint Orientation
$brk-landscape: 'landsacpe';
$brk-portrait: 'portrait';

// Basic Non Vendor Fallback Breakpoint mapping

//  @mixin breakpoint($point) {
//    @if $point == high-res {
//      @media (min-width: $highres) { @content ; }
//   }
//    @if $point == desktop {
//      @media (min-width: $desktop) { @content ; }
//   }
//    @else if $point == laptop {
//      @media (min-width: $laptop) { @content ; }
//   }
//     @else if $point == tablet {
//      @media (min-width: $tablet) { @content ; }
//   }
//    @else if $point == phablet {
//      @media (min-width: $phablet)  { @content ; }
//   }
//   @else if $point == mobileonly {
//      @media (max-width: $mobileonly)  { @content ; }
//   }
// }