
// - COLOURS - //

// ------ BMAS COLOURS ------ //

$bmas-color: #0f8bcc;
$bmas-color-alt: #fff;
$bmas-text: #202020;

// ------ BASE ------ //

// Base Colours
$color-shadow: rgba(0,0,0,0.125) !default;
$color-primary: #444 !default;
$color-accent: #1588DA !default;

// Backgrounds
$color-background: #fff !default;
$color-background-shade: darken($color-background, 10%) !default;

// Shadow
$shadow: rgba(0,0,0, 0.1);

// ------ FONTS ------ //

// Headings
$color-heading: #202020 !default;

// Text
$color-text: #444 !default;
$color-text-weak: lighten($color-text, 15%) !default;
$color-text-strong: darken($color-text, 15%) !default;

// Links
$color-text-link: $color-accent !default;
$color-text-link-visited: lighten($color-accent, 15%) !default;
$color-text-link-hover: darken($color-text, 15%) !default;

// Code
$color-code: #333 !default;

// Selection Highlight
$color-highlight: $color-text !default;

// ------ ELEMENTS ------ //

//  Borders
$color-border: #E1E1E1 !default;
$color-border-lighten: lighten($color-border, 60%) !default;
$color-border-darken: darken($color-border, 60%) !default;
$color-border-hover: darken($color-border, 15%) !default;
$color-border-active: $color-border;
