
// - FONTS - //

// Base Font Stacks
$font-family-sans-serif: Helvetica, Arial, sans-serif !default;
$font-family-serif: Georgia, 'Times New Roman', Times, serif !default;
$font-family-code: Consolas, 'Andale Mono WT', 'Andale Mono', 'Lucida Console', 'Lucida Sans Typewriter', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Liberation Mono', 'Nimbus Mono L', Monaco, 'Courier New', Courier, monospace !default;
$font-awesome: 'FontAwesome' !default;

$font-family-h1: $font-family-sans-serif !default;
$font-family-h2: $font-family-sans-serif !default;
$font-family-h3: $font-family-sans-serif !default;
$font-family-h4: $font-family-sans-serif !default;
$font-family-h5: $font-family-sans-serif !default;
$font-family-h6: $font-family-sans-serif !default;
$font-family-paragraph: $font-family-sans-serif !default;

// Font Weights
$font-weight-ultra-light: 100 !default;
$font-weight-light: 300 !default;
$font-weight-regular: 400 !default;
$font-weight-bold: 600 !default;
$font-weight-bolder: 800 !default;
$font-weight-superheavy: 900 !default;

$font-weight-h1: 900 !default;
$font-weight-h2: 800 !default;
$font-weight-h3: 600 !default;
$font-weight-h4: 600 !default;
$font-weight-h5: 600 !default;
$font-weight-h6: 600 !default;
$font-weight-paragraph: 400 !default;

// Font Size - Mixing values convert values to rem with px fallback
$base-font-size: 75% !default; // 12px
$rem-base: 12 !default; // 12px - Also used for baseline
$baseline: ($rem-base * 2) + px;

@function calculate-fontRem($font-size) {
  $font-remSize: ($font-size / $rem-base); // rem size is calculated with a base font size of 12px [1rem = 12px]
  @return ($font-remSize * 1) + rem;
}

@mixin fontSize($font-size) {
  font-size: $font-size + px;
  font-size: calculate-fontRem($font-size);
}

// Line Height - Mixing values convert px values to unitless with fallback
@function calculate-lineUnitless($line-height) {
  $line-unitlessSize: ($line-height / $rem-base); // unitless size is calculated with a base font size of 12px [1rem = 12px]
  @return ($line-unitlessSize * 1.2);
}

@mixin lineHeight($line-height){
  line-height: (1.2 * $line-height) + px; //fallback for old browsers
  line-height: calculate-lineUnitless($line-height);
}

// Font Styles
$font-style-normal: normal;
$font-style-italic: italic;
