
// - GRID - //

// Clearfix
@mixin clearfix() {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

// Percentage Based Grid

// ------ Configuration ------ //
$grid-slug: grid !default;
$grid-columns: 12 !default;

$susy: (
  columns: $grid-columns,
  gutters: .25,
  global-box-sizing: border-box,
  use-custom: (
    clearfix: true,
  )
);

// Flex Box Grid

// Grid setup
// The grid will calculate dimensions based on these two variables
// $fg-columns will inform the grid loops how many columns there should be.
// $fg-gutter will inform the grid loops how big each column's gutters should be.

$fg-columns: 12 !default;
$fg-gutter: 0rem !default;

// Break point namespace object
// Set the default namespace object with these defaults with the
// understanding that you can pass in whatever you might require for your site.

// $fg-breakpoints is a Sass list with nested lists inside. Each sub list defines two things.
// 1. The namespace for that breakpoint. (Required) (i.e. xs, sm, md, lg)
// 2. The min-width measurement for the breakpoint for that namespace. (i.e. 48em, 62em, 75em)

// Note: If the measurement is left out then it will be skipped when generating
// the grid and applied to global styles.

$fg-breakpoints: (
  (flex),
  //(mobile, 480px),
  //(tablet, 768px),
  //(laptop, 980px),
  //(desktop, 1200px),
  //(highres, 1920px)
) !default;

// Calculate column size percentage
@function fg-grid-per($column-num) {
  @return $column-num / $fg-columns * 100%;
}

// Spacing mixin to create uniform margin/padding
@mixin fg-spacing( $value, $type: margin, $orientation: vertical ) {
  @if $orientation == vertical {
    #{ $type }-top: $value;
    #{ $type }-bottom: $value;
  } @else {
    #{ $type }-left: $value;
    #{ $type }-right: $value;
  }
}

// Generate a set of grid column classes using a namespaces
// .grid-[namespace] for intelligent column division
// .grid-[namespace]-[number] for a column that covers a specific number of columns (e.g. 1-12 by default)
// .off-[namespace]-[number] for pushing a col a specific number of columns (e.g. 1-11 by default)


@mixin grid-base( $namespace ) {
  .grid-#{$namespace} {
    @extend %grid-flex;
  }

  @for $i from 1 through $fg-columns {
    .grid-#{$namespace}-#{$i} {
      @extend %fg-grid;
    }
  }
}

@mixin grid-sizes( $namespace ) {
  // Run the loop for as many columns as speficied
  @for $i from 1 through $fg-columns {
    .grid-#{$namespace}-#{$i} {
      flex-basis: fg-grid-per($i);
      max-width:  fg-grid-per($i);
    }
  }

  @for $i from 1 through $fg-columns {

    // Don't include the .off class for the last column
    @if ( $i != $fg-columns ) {
      .off-#{$namespace}-#{$i} {
        margin-left: fg-grid-per($i);
      }
    }
  }
}