
// - SPACING - //

// ------ Margins ------ //

// Margin Individaul
@mixin margin-ind($margin-top: none, $margin-right: none, $margin-bottom: none, $margin-left: none) {
        margin-top: $margin-top + px;
        margin-top: ($margin-top / $rem-base) + rem;
    @if $margin-right == none {
        margin-right: $margin-top + px;
        margin-right: ($margin-right / $rem-base) + rem;
    } @else {
        margin-right: $margin-right + px;
        margin-right: ($margin-right / $rem-base) + rem;
    }
    @if $margin-bottom == none {
        margin-bottom: $margin-top + px;
        margin-bottom: ($margin-top / $rem-base) + rem;
    } @else {
        margin-bottom: $margin-bottom + px;
        margin-bottom: ($margin-bottom / $rem-base) + rem;
    }
    @if $margin-left == none {
        margin-left: $margin-top + px;
        margin-left: ($margin-top / $rem-base) + rem;
    } @else {
        margin-left: $margin-left + px;
        margin-left: ($margin-left / $rem-base) + rem;
    }
}

// ------ Padding ------ //

// Padding Individual
@mixin padding-ind($padding-top: none, $padding-right: none, $padding-bottom: none, $padding-left: none) {
        padding-top: $padding-top + px;
        padding-top: ($padding-top / $rem-base) + rem;
    @if $padding-right == none {
        padding-right: $padding-top + px;
        padding-right: ($padding-right / $rem-base) + rem;
    } @else {
        padding-right: $padding-right + px;
        padding-right: ($padding-right / $rem-base) + rem;
    }
    @if $padding-bottom == none {
        padding-bottom: $padding-top + px;
        padding-bottom: ($padding-top / $rem-base) + rem;
    } @else {
        padding-bottom: $padding-bottom + px;
        padding-bottom: ($padding-bottom / $rem-base) + rem;
    }
    @if $padding-left == none {
        padding-left: $padding-top + px;
        padding-left: ($padding-top / $rem-base) + rem;
    } @else {
        padding-left: $padding-left + px;
        padding-left: ($padding-left / $rem-base) + rem;
    }
}

