
// - ASSETS - //

body {
    @include rem(letter-spacing, 1px);
}

.cfs-hash {
    fill: $color-accent;
}

.cfs-wordmark {
    fill: $color-invert;
}

.color-accent {
    color: $color-accent;
}

// Pattern Background
section.pattern {
    position: relative;
    background-color: $color-background;
    background-size: 40px 23.3px, 100%;
    background-repeat: repeat;
    background-position: 1px -1px, 0;

    & .pattern-gradient {
        background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,.5) 50%,rgba(255,255,255,0) 100%);
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        opacity: 0.7;
        z-index: 1;
    }
}

.cfs-btn-donate {
    color: $color-invert;
    @extend .capitals;
    @include rem(padding, 36px 84px);
    @include fontSize(16);
    font-weight: 700;
    transition: 0.3s ease-out;
    @include border-radius(2);

    &:hover,
    &:focus {
        background-color: $color-accent-hover;
    }
}
