
// - FOOTER - //

.bedrock {
    background-color: $color-accent;
    color: $color-invert;
    font-family: $font-family-client-secondary;
    padding: 4% 4% 3%;

    & [class*='grid-flex-'] {
        @include breakpoint($tabletOnly) {
            flex-basis: 100%;
            max-width: 100%;
        }
    }

    & {
        @extend .capitals;
    }

    & .footer-center {
        @include rem(max-width, 900px);
        margin: auto;

        @include breakpoint($tabletOnly) {
            text-align: center;
        }
    }

    & .footer-logo {
        @include rem(width, 300px);

        @include breakpoint($tabletOnly) {
            margin-left: auto;
            margin-right: auto;
        }

        & path {
            fill: $color-invert
        }
    }

    & .footer-byline {
        font-family: $font-family-client-secondary;
        margin: 0;
        @include rem(margin-top, 24px);
        @include fontSize(19);
        font-weight: $font-weight-bold;
        line-height: 1.3;
        max-width: 70%;
        @include rem(letter-spacing, 2px);

        @include breakpoint($tabletOnly) {
            max-width: 100%;
        }
    }

    & .social {
        @include rem(margin-top, 24px);

        & li a {
            color: $color-invert;
            transition: 0.3s ease-out;
        }

        & a:hover,
        & a:focus {
            color: $color-accent-hover;
        }
    }

    & .footer-menu {
        @include rem(margin-top, 58px);

        @include breakpoint($tabletOnly) {
            @include rem(margin-top, 10px);
        }

        & ul {
            column-count: 2;
            @include rem(column-gap, 20px);
            margin-bottom: 0;

            & a {
                color: $color-invert;
                line-height: 1;
                display: block;
                @include fontSize(18);
                @include rem(padding, 5px 0 5px 10px);
                border-left: 2px solid $color-invert;
                transition: border 0.1s ease-in;

                @include breakpoint($tabletOnly) {
                    border: none;
                }

                &:hover,
                &:focus {
                    border-color: $color-accent-hover;
                }
            }

            & li:first-child a,
            & li:nth-child(5) a {
                padding-top: 0;
            }

            & li:last-child a,
            & li:nth-child(4) a {
                padding-bottom: 0;
            }
        }
    }

    & .back-top {
        @include rem(margin-top, 48px);
        color: $color-invert;
    }

    & .siteinfo p {
        text-transform: none;
        @include fontSize(12);
    }

    & .bmas path,
    & .bmas polygon {
        fill: $color-invert;
    }
}
