
// - HEADER - //

.main-logo {
    @include rem(padding, 23px 0);
    padding-left: 3%;
    padding-right: 3%;

    @include breakpoint($mobile-menu) {
        flex-basis: 75%;
        max-width: 75%;
        z-index: 10;
        margin-bottom: 0 !important;
    }

    & img {
        @include rem(max-width, 210px);
        @include rem(min-width, 210px);
        vertical-align: text-top;
    }

    & path {
        fill: $color-primary;
        transition: fill 0.3s ease-out;
    }

    &:hover .cfs-hash,
    &:focus .cfs-hash {
        fill: $color-accent;
    }
}

.masthead {
    background-color: $color-background;
    @extend .container-flex;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;

    .admin-bar & {
        top: 32px;
    }
}

.header-menu {
    @extend .text-right;

    & ul {
        @extend .inline-list;
        @extend .no-bullet;
        font-family: $font-family-client-secondary;
        font-weight: 700;
        margin-bottom: 0;

        & li {
            @extend .capitals;
            margin-left: 0;
            position: relative;

            &:not(.donate)::after {
                content: '';
                position: absolute;
                right: 0;
                left: 0;
                @include rem(bottom, -3px);
                margin: auto;
                width: 65%;
                @include rem(height, 3px);
                opacity: 0;
                background-color: $color-accent;
                @include rem(border-top-right-radius, 5px);
                @include rem(border-top-left-radius, 5px);
                z-index: 2;
                transition: 0.3s ease-out;
            }

            &:hover,
            &:focus,
            &.current-menu-item {

                &::after {
                    opacity: 1;
                }
            }

            &.donate {
                transition: 0.3s ease-out;
                background-color: $color-accent;

                &:hover,
                &:focus {
                    background-color: $color-accent-hover;
                }

                & a {
                    text-transform: uppercase;
                    color: $color-invert;
                    font-family: $font-family-client-primary;
                    @include fontSize(16);
                    @include rem(padding, 23px 36px);
                }
            }

            & a {
                color: $color-primary;
                @include fontSize(18);
                display: block;
                @include rem(padding, 20px 20px);

                @include breakpoint($desktopOnly) {
                    @include rem(padding, 20px 15px);
                }
            }
        }
    }
}

// Mobile Menu

.header-menu {

    @include breakpoint($mobile-menu) {
        flex-basis: 100%;
        max-width: 100%;
        margin-bottom: 0 !important;
        position: absolute;
        width: 100%;
        @include rem(top, 63px);
        z-index: 10;
        background-color: $color-background;
        box-shadow: 0 15px 15px -10px rgba(0, 0, 0, 0.35);
        transform: translateY(calc(-100% - 85px));
        transition: transform 0.3s ease-out;

        .menu-active & {
            transform: translateY(0);
        }
    }

    & #menu-header {
        @include breakpoint($mobile-menu) {
            //display: none;
        }
        & li {
            @include breakpoint($mobile-menu) {
                display: block;
                text-align: center;
            }
        }
    }
}

.hamburger {
    display: none;
    position: absolute;
    @include rem(right, 20px);
    @include rem(top, 20px);
    transform: matrix(1, 0, 0, 1, 0, 0);
    z-index: 10;

    @include breakpoint($mobile-menu) {
        display: block;
    }

    & path {
        transition: transform ease-out 0.2s, opacity ease 0.15s;
        fill: $color-accent;
        stroke-linecap: round;
        stroke-linejoin: round;
    }

    #hamburger-top {
        transform: matrix(1, 0, 0, 1, 0, 0);
    }
    #hamburger-middle {
        opacity: 1;
    }
    #hamburger-bottom {
        transform: matrix(1, 0, 0, 1, 0, 0);
    }

    // Expand on Hover
    &:hover,
    &:focus {

        & #hamburger-top {
            transform: matrix(1, 0, 0, 1, 0, -4);
        }

        & #hamburger-bottom {
            transform: matrix(1, 0, 0, 1, 0, 4);
        }
    }

    .menu-active & {
        transition: transform ease-out 0.2s;

        &:hover,
        &:focus {
           transform: matrix(0.85, 0, 0, 0.85, 0, 0);
        }

        #hamburger-top {
            transform: matrix(0.7071, 0.7071, -0.7071, 0.7071, 11, -6);
        }
        #hamburger-middle {
            opacity: 0;
        }
        #hamburger-bottom {
            transform: matrix(0.7071, -0.7071, 0.7071, 0.7071, -11, 9);
        }
    }
}
