
// - FRONT PAGE - HOME - //

// Intro Block
section#intro {
    position: relative;
    color: $color-invert;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    @include rem(margin-top, 65px);

    &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.4);
        z-index: 1;
    }

    & .container-flex {
        z-index: 2;
        position: relative;
        margin: 0 auto;
        min-height: calc(100vh - 65px);
        @include breakpoint($tabletOnly) {
            display: block;
            .flex-center {
                display: block;
            }
        }
    }

    .intro-cta {
        //@include rem(margin, 60px);

        @include breakpoint($tabletOnly) {
            width: 100%;
            margin: 0;
        }
    }

    .intro-right {
        @include breakpoint($tabletOnly) {
            width: 100%;
            @include rem(margin-top, 80px);
        }
        figure {
            width: 100%;
            position: relative;
            max-width: 60%;
            @include rem(margin, 60px);
            text-align: center;

            img {
                display: block;
                width: 100%;
                @include rem(border-radius, 2px);
                box-shadow: 2px 2px 10px 2px rgba(0,0,0,0.3);
            }
        }
        & .book-cta .btn {
            @include rem(padding, 20px 22px);
            @include fontSize(12);
            @include rem(margin-top, 20px);
            display: inline-block;
        }
    }

    .cfs-logo-stacked {
        @include rem(max-width, 300px);
        margin: 0;

        @include breakpoint($tabletOnly) {
            @include rem(max-width, 500px);
        }
    }

    .intro-highlights {
        list-style: none;
        margin: 0;
        text-align: left;
        @include rem(max-width, 330px);

        li {
            @include rem(margin-bottom, 12px);
            @include rem(font-size, 15px);

            span {
                @include rem(margin-right, 10px);
                color: $color-accent-hover;
            }

        }
    }

    .main-description {
        margin: 0;
        text-align: left;
        @include fontSize(22);
        @include rem(max-width, 360px);
        @include rem(margin, 18px 0);
    }

    & .cfs-date {
        font-family: $font-family-client-secondary;
        @include fontSize(23);
        @include rem(margin, 24px 0);
        padding-top: 0;
        line-height: 1;

        & svg {
            @include rem(max-width, 24px);
            @include rem(margin-right, 12px);
            vertical-align: top;
        }

    }

    & .cfs-btn-donate {
        @include rem(padding, 30px 72px);

        @include breakpoint($tabletOnly) {
            padding: 8% 10%;
        }
    }

    & .intro-cta-actions {
        display: flex;
        flex-direction: row;
        align-content: flex-start;
        @include rem(margin-top, 40px);

        @include breakpoint($phabletOnly) {
            display: none;
        }

        &-item {
            max-width: 100%;
            text-align: left;
            @include rem(padding-right, 25px);

            @include breakpoint($mobile-menu) {
                margin-left: auto;
                margin-right: auto;
            }
        }

        & .cta-mail {
            font-family: $font-family-client-secondary;

            a {
                @include rem(font-size, 14px);
            }
        }

        & h2 {
            color: $color-accent;
            text-align: left;
            @include rem(font-size, 19px);
            @include rem(margin-bottom, 12px);
        }

        & a {
            color: $color-invert;
            transition: 0.3s ease-out;
        }

        & .cta-mail {
            @include fontSize(21);
        }

        & .next-gen-logo {
            fill: $color-invert;
            @include rem(max-width, 90px);
            @include rem(min-width, 80px);
            transition: 0.3s ease-out;
        }

        & a:hover,
        & a:focus {
            color: $color-accent-hover;
        }

        & a:hover svg,
        & a:focus svg {
            fill: $color-accent-hover;
        }

        & .social.icons {
            margin: 0;
            text-align: left;
            li {
                margin: 0;
                @include rem(padding-right, 5px);

                a {
                    background-color: #fff;
                    border-radius: 50%;
                    display: block;
                    padding: 5px;
                    text-align: center;

                    &:hover {
                        background-color: #000;

                        span {
                            color: #fff;
                        }
                    }
                }

                span {
                    color: #000;
                    font-size: 1.3em;
                    vertical-align: middle;
                }
            }
        }
    }

    & .sticker {
        position: absolute;
        @include rem(top, -10px);
        @include rem(left, -30px);
        text-align: center;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            background-color: $color-accent;
            z-index: 1;
            border-radius: 50%;
            @include rem(width, 110px);
            @include rem(height, 110px);
        }

        & p {
            @include fontSize(10);
            @include rem(width, 110px);
            z-index: 2;
            position: relative;
        }

        & span {
            @extend .capitals;
            @include fontSize(12);
        }
    }

    & .intro-left,
    & .intro-right {
        @include rem(padding, 22px);

        @include breakpoint($mobile-menu) {
            flex-basis: 100%;
            max-width: 100%;
            text-align: center;
        }
    }

    & .intro-right {
        @include breakpoint($mobile-menu) {
            padding: 0;
            @include rem(margin-top, 50px);
        }
    }

    & .intro-left {
        @include breakpoint($mobile-menu) {
            @include rem(margin-top, 25px);
        }
    }
}

// Quote Block
section#quote {
    padding: 3% 20%;
    text-align: center;

    @include breakpoint($mobile-menu) {
        padding: 3% 5%;
    }

    & blockquote {
        border: none;
        @include rem(max-width, 940px);
        margin-left: auto;
        margin-right: auto;

        & p {
            color: $color-primary;
            @include fontSize(21);
            line-height: 1.6;
            font-weight: 300;

            @include breakpoint($tabletOnly) {
                @include fontSize(15);
            }

            & strong {
                font-weight: 900;
                font-style: normal;

                &::first-letter {
                    color: $color-accent;
                }
            }
        }

        & cite {
            color: $color-accent;
            @include fontSize(24);
            font-weight: 700;
            @include rem(margin, 24px);
            text-transform: uppercase;
            font-family: $font-family-client-secondary;

            &::before {
                display: none;
            }
        }
    }
}
// Order now
section#order-now {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    >div {
        display: flex;
        align-items: center;
        padding: 15% 4%;
        color: #fff;
        line-height: 1.5;
        >div {
            width: 100%;
            p {
                max-width: 210px;
                @include rem(margin, 0 0 10px 0);
                @media(min-width: 2000px) {
                    max-width: 500px;
                }
                &.text {
                    font-weight: 300;
                    font-style: italic;
                    @include rem(font-size, 12px);
                    @media(min-width: 2000px) {
                        @include rem(font-size, 24px);
                    }
                }
                &.author {
                    text-transform: uppercase;
                    color: $color-accent-hover;
                    font-family: $font-family-client-secondary;
                    font-weight: 600;
                    @include rem(font-size, 14px);
                    @media(min-width: 2000px) {
                        @include rem(font-size, 26px);
                    }
                }
            }
            >div {
                @include rem(padding-top, 20px);
            }
            a {
                display: inline-block;
                background-color: $color-accent-hover;
                color: #fff;
                text-transform: uppercase;
                @include rem(font-size, 10px);
                @include rem(padding, 15px 20px);
                @media(min-width: 2000px) {
                    @include rem(font-size, 20px);
                }
            }
        }
    }
}
// What and Why Block
section#what,
section#why {
    height: 100vh;
    position: relative;
    background-size: cover;
    background-attachment: fixed;

    & .cont-overlay {
        border: 2px solid $color-background;
        @include border-radius(2);
        @include rem(max-width, 600px);
        overflow: hidden;

        & h2 {
            text-align: center;
            @include rem(letter-spacing, 3px);
            @include fontSize(60);
            line-height: 1;
            color: $color-invert;
            padding: 6% 5%;

            & .top-title {
                @include fontSize(72);
                font-weight: 500;
            }
        }

        & p {
            background-color: $color-background;
            padding: 9%;
            @include fontSize(15);
            line-height: 1.6;
            text-align: justify;

            @include breakpoint($tabletOnly) {
                text-align: left;
            }

            & .dropCap {
                color: $color-accent;
                font-weight: 900;
                @include fontSize(43);
                float: left;
                line-height: 1;
                padding: 1% 1% 0;
            }
        }
    }
}
// Organisers / Get involved / Participating Block

section#organisers,
section#get-involved,
section#participating-restaurants {
    padding: 4%;

    & .cont-overlay {
        background-color: $color-background;
        @include border-radius(2);
        padding: 6% 5% 3%;
        position: relative;
        z-index: 2;
    }

    & .cfs-logo-long {
        @include rem(width, 280px);

        @include breakpoint($mobile-menu) {
            margin-left: auto;
            margin-right: auto;
        }

        & path {
            fill: $color-primary
        }
    }

    & .sec-title {
        @include fontSize(72);
        @include rem(letter-spacing, 4px);

        @include breakpoint($mobile-menu) {
            text-align: center;
        }
    }

    & .photo-credit {
        @include fontSize(16);
        color: $color-shade;

        @include breakpoint($mobile-menu) {
            @include fontSize(12);
            text-align: center;
            @include rem(margin-bottom, 20px);
        }
    }

    & .get-inv-cta {
        @include breakpoint($mobile-menu) {
            text-align: center;
        }
    }

    & .para-list {

        &-item {
            padding: 0 3% 3%;
        }

        & h3 {
            color: $color-accent;
            @include fontSize(22);
            @include rem(margin-bottom, 8px);
            line-height: 1.5;

            & .para-icon {
                @include rem(max-width, 20px);
                @include rem(margin-right, 10px);
            }
        }

        & p {
            @include fontSize(15);
            line-height: 1.6;

            & a {
                font-weight: 900;
            }
        }
    }
}

// Get Involved and Participating Block
section#get-involved,
section#participating-restaurants {

    & .sec-title {
       line-height: 0.9;
       color: $color-title;
    }

    & .cfs-btn-donate {
        @include rem(margin-top, 48px);
        @include rem(margin-bottom, 24px);
        @include rem(padding, 24px 60px)
    }

    & .part-rest-list {
        column-count: 3;
        @include rem(column-gap, 20px);

        @include breakpoint($mobile-menu) {
            column-count: 2;
        }

        @include breakpoint($phabletOnly) {
             column-count: 1;;
        }

        & li {
            color: $color-shade;
            @include fontSize(14);
            line-height: 1.5;
        }
    }
}

// Headline Chefs Block
section#headline-chefs {
    position: relative;
    background-size: cover;
    background-attachment: fixed;

    & .intro {
        padding-top: 4%;
        padding-bottom: 4%; // Temp pre phase 2
        color: $color-invert;
        @include rem(max-width, 770px);
        text-align: center;
    }

    & .title {
        text-align: center;
        @include rem(letter-spacing, 3px);
        @include fontSize(60);
        color: $color-invert;
        padding-bottom: 1%;

        @include breakpoint($tabletOnly) {
            @include fontSize(34);
        }

        & .fa {
            @include fontSize(38);
        }
    }

    & p strong {
        color: $color-invert;
        font-weight: 900;
        transition: 0.3s ease-out;

        &:hover,
        &:focus {
            color: $color-accent;
        }
    }

    & .chef-highlight {
        @include rem(max-width, 1460px);
        padding-bottom: 3%;
        margin-left: auto;
        margin-right: auto;

        & .grid-flex-4 {

            @include breakpoint($mobile-menu) {
                flex-basis: 50%;
                max-width: 50%;
            }

            @include breakpoint($tabletOnly) {
                flex-basis: 100%;
                max-width: 100%;
            }
        }
    }
    & .cfs-btn-donate {
        @include rem(padding, 24px 36px);
        @include rem(margin-bottom, 46px);
    }
}

.filters {
    margin: 0;
    list-style: none;
    overflow: hidden;
    margin: 1% auto;

    li {
        display: inline-block;
        float: left;
        margin: 5px;
    }

    button {
        color: $color-accent;
        background-color: #fff;
        border: 1px solid $color-accent;
        border-radius: 5px;
        text-transform: uppercase;
        padding: 10px;
        cursor: pointer;
        &:hover,
        &.active {
            background-color: $color-accent;
            color: #fff;
        }
    }

}

.filter-title {
    color: #D9D9D9;
    width: 100%;
    text-align: center;
    letter-spacing: 1px;
}

input[name="search-filter"] {
    text-align: center;
    margin: 0 auto;
    border: 1px solid #D9D9D9;
    border-radius: 5px;
    max-width: 300px;

    &:focus::placeholder {
        opacity: 0;
    }

    &::placeholder {
        color: #D9D9D9;
        text-transform: uppercase;
        @include rem(font-size, 12px);
    }

}

.headline-card {
    cursor: pointer;
    padding: 1%;
    overflow: hidden;
    transition: transform 0.1s ease-in;

    &.hidden {
        display: none;
    }

    & .card-name {
        background-color: $color-background;
        @include border-top-radius(2);
        transition: 0.2s ease-out;
        padding: 5% 4%;
    }

    & .card-img {
        position: relative;
        overflow: hidden;

        & img {
            width: 100%;
            display: block;
            transition: opacity 0.2s ease-out;
            @include border-bottom-radius(2);
        }

        & .chef-img {
            filter: gray;
            filter: grayscale(100%);
            z-index: 4;
        }

        & .recipe-img {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 1;
        }

        &::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(0, 0, 0, 0.4);
            z-index: 2;
        }
    }

    & .card-info {
        color: $color-invert;
        padding: 5%;
        position: absolute;
        width: 100%;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 3;

        & .cta {
            @extend .capitals;
            font-family: $font-family-client-secondary;
            @include fontSize(28);
        }

        & svg {
            @include rem(width, 20px);
            @include rem(margin-right, 10px);
        }

        & li {
            @include fontSize(16);
        }
    }

    &:hover,
    &:focus {
        //transform: translateY(-1%);

        & .chef-img {
            opacity: 0;
        }

        & .card-name {
            color: $color-invert;
            background-color: $color-accent;
        }
    }
}

section#intro,
section#what,
section#why,
section#headline-chefs {
    @include breakpoint($mobile-menu) {
       height: 100%;
       padding: 5%;
    }
}

section#organisers,
section#get-involved,
section#participating-restaurants {
    @include breakpoint($mobile-menu) {
        [class*='grid-flex-'] {
            flex-basis: 100%;
            max-width: 100%;
        }

        .sec-title {
            @include breakpoint($phabletOnly) {
                 @include fontSize(34);
            }
        }
    }
}

section#what,
section#why {

    & .cont-overlay h2 {
        @include breakpoint($tabletOnly) {
            @include fontSize(34);
        }
    }
}

section#recipe-book {
    text-align: center;
    background-color: #efefef;
    padding: 1%;
}
