
// - PRIMARY PAGE - //

main.raised {
    @include rem(margin-top, 65px);
    background-color: #f9f7f7;
    padding: 3% 5%;

    & .primary-cont {
        background-color: $color-background;
        border: 2px solid #efefef;
        @include border-radius(2);
        padding: 4%;
        @include rem(max-width, 1750px);
        margin: auto;
        display: block;
    }

    & .sec-title {
        @include fontSize(48);
        @include rem(letter-spacing, 4px);
        line-height: 0.9;
        color: $color-title;
        margin-bottom: 7%;
    }

    & p {
        @include fontSize(15);
        line-height: 1.6;
    }
}

// Page FAQ

.page-faq {

    & .faq-list {
        @include rem(margin-left, 20px);

        @include breakpoint($mobile-menu) {
            @include rem(margin-top, 20px);
            margin-left: 0;
        }
    }

    & .faq-answer {
        display: block;
        padding: 2% 3%;
        background-color: $color-shade-light;
        @include fontSize(16);
        transition: background 0.1s ease-out;
        cursor: pointer;

        &:hover,
        &:focus {
            background-color: $color-accent;
            color: $color-invert;
        }
    }

    & .faq-question {
        padding: 4%;
        border: 2px solid $color-shade-light;
        border-top: none;
        border-bottom: none;

        & p,
        & li {
            @include fontSize(14);
            line-height: 1.3;
        }

        & strong {
            font-weight: 900;
        }

        & ul {
            margin-bottom: 0;

            & li {
                @include rem(margin-bottom, 10px);
            }
        }
    }

    & [class*='grid-flex-'] {

        @include breakpoint($mobile-menu) {
            flex-basis: 100%;
            max-width: 100%;
        }
    }
}

// Hosting Tips

main.pattern {
    position: relative;
    background-color: #fff;
    background-size: 40px 23.3px, 100%;
    background-repeat: repeat;
    background-position: 1px -1px, 0;
}

.page-hosting-tips main,
.page-australia main,
.archive main {

    & .primary-cont {
        padding: 0;
    }

    & .page-head {
        background-size: cover;
        background-position: center top;
        text-align: center;
        min-height: 50vh;
        padding: 15% 10%;
        position: relative;

        &::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(0, 0, 0, 0.5);
            z-index: 1;
        }

        & .page-head-cont {
            position: relative;
            z-index: 2;
            @include rem(max-width, 690px);
            margin: auto;

            & strong {
                font-weight: 900;
            }

            & h1,
            & h2,
            & p,
            & li {
                color: $color-invert;
            }

            & h2 {
                @include rem(margin-bottom, 20px);
            }

            & h1 {
                @include breakpoint($tabletOnly) {
                    @include fontSize(30);
                }
            }
        }
    }

    .page-content {

        & .inner-content {
            @include rem(max-width, 690px);
            display: block;
            margin: auto;
            padding: 5%;

            & hr {
                padding: 4% 0;
            }

            & .DropCap {
                color: $color-accent;
                font-weight: 900;
                @include fontSize(43);
                float: left;
                line-height: 1;
                padding: 1% 1% 0;
            }
        }
    }
}

.page-australia main {

    &.raised {
        padding: 0;
    }

    & div.page-head {
        background-position: center;
        min-height: 90vh;

        & .page-head-cont {
            margin-bottom: 25%;
        }
    }
}

.archive main {

    & .page-head {

        & .sec-title {
            font-family: $font-family-client-primary;
            @include fontSize(72);
            font-weight: 300;

            & .top-title {
                font-family: $font-family-client-secondary;
                @include fontSize(24);
                line-height: 2;
            }
        }
    }
    & .page-content {
        padding: 5%;

        & [class*='grid-flex-'] {
            @include breakpoint($mobile-menu) {
                flex-basis: 50%;
                max-width: 50%;
            }

            @include breakpoint($tabletOnly) {
                flex-basis: 100%;
                max-width: 100%;
            }
        }

        & .card-name {
            border: 2px solid $color-shade-light;
            border-bottom: none;
            @include fontSize(15);
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        & .card-info {
            background-color: rgba(0,0,0,0.25);
            @include fontSize(12);
        }

        & .card-img {
            border: 2px solid $color-shade-light;
            border-top: none;

            &::after {
                display: none;
            }
        }
    }
}
