
// - Single Recipe PAGE - //

.single-recipe {

    & .grid-flex-6 {
        padding: 2%;

        &:nth-child(1),
        &:nth-child(2) {
            @include breakpoint($mobile-menu) {
                flex-basis: 100%;
                max-width: 100%;
            }
        }

        &:nth-child(1) {
            @include breakpoint($mobile-menu) {
                order: 2
            }
        }
    }

    & main {

        hr {
            background-image: linear-gradient(to left, #e6e6e6, #e6e6e6, #e6e6e6);
        }

        & .sec-title {
            font-family: $font-family-client-primary;
            color: $color-accent;
            font-weight: 500;
            @include fontSize(36);
            @include rem(margin-bottom, 30px);
            @include rem(letter-spacing, 1px);
        }

        & .dish-by {
            @include fontSize(16);
        }

        & .fa-instagram {
            @include rem(margin-right, 5px);
        }

        & .chef-link  {
            margin-bottom: 0;

            & a {
                @include fontSize(20);
                color: $color-primary;
            }
        }

        & .recipe-details {
            @include fontSize(16);
        }

        & .social {
            @include rem(margin-top, 10px);

            & ul li {
                @include fontSize(16);
            }
        }

        & .instructions {

            & h2 {
                @include fontSize(26);
            }
        }

        & .ingredient-list,
        & .method-steps {

            & li {
               @include fontSize(15);
               line-height: 1.6;
               @include rem(margin-bottom, 20px);
            }
        }

        & .ingredients-list {

            & h3 {
                @include rem(margin-bottom, 5px);
                color: $color-shade;
            }

            & ul {
                @include rem(margin-left, 5px);
            }

            & li {
                font-style: italic;
                @include rem(margin-bottom, 3px);
            }
        }
    }
}
